/**
 * Media styles
 */
#main {
	padding: 0 30px 30px 30px;
	height: 100%;
	align-self: stretch;
	display: flex;
	flex-grow: 1;
	flex-flow: column;
}
#main > * {
	flex-grow: 1;
	height: 100%;
}
#main > h2 {
	flex-grow: 0;
}
.spinner {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(200, 200, 200, 0.5);
	text-align: center;
	padding: 10em;
}
.media-container {
	display: flex;
	flex-flow: column;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 0.25em;
}
/* Panels */
.media-panels {
	flex-grow: 1;
	align-self: stretch;
	height: 100%;
	display: flex;
	flex-flow: row wrap;
}
#component-body .media-panels {
	margin-top: 3em;
	min-height: 560px;
}
.panel {
	flex: 0 1 auto;
}
.panel-tree {
	flex: 0 0 256px;
	width: 256px;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 1px solid rgba(0,0,0,0.1);
	background: #fff;
	border-radius: 0.25em 0 0 0.25em;
}
.panel-files {
	flex: 1;
}

.media-header {
	white-space: nowrap;
	background-color: rgba(255, 255, 255, 0.05);
	border-bottom: 1px solid rgba(0,0,0,0.1);
	display: flex;
	width: 100%;
}
.media-header>div {
	flex: 1 1 auto;
}
.media-header form {
	margin: 0;
	padding: 0;
}
.media-header:after {
	content: '';
	display: table;
	line-height: 0;
	clear: both;
}
.media-breadcrumbs-block {
	padding: 1em 1em;
	overflow: hidden;
	line-height: 1;
	vertical-align: middle;
}
.media-breadcrumbs-block img {
	width: 1.5em;
	display: inline-block;
	vertical-align: middle;
}
.media-breadcrumbs {
	display: inline-block;
	cursor: pointer;
}
.dir-separator {
	width: 1em;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	margin: 0 0.25em;
	vertical-align: middle;
}
.dir-separator:before {
	margin-right: 1em;
	color: #ccc;
}
.media-header-buttons {
	padding: 1em 30px;
}

.media-files-view {
	display: block;
	float: right;
	overflow: hidden;
	text-align: center;
	width: 1em;
	height: 1em;
	margin: 0 0.2em;
	font-size: 1.5em;
	position: relative;
	-webkit-transition: opacity 200ms ease-in-out;
	-moz-transition: opacity 200ms ease-in-out;
	-ms-transition: opacity 200ms ease-in-out;
	-o-transition: opacity 200ms ease-in-out;
	transition: opacity 200ms ease-in-out;
	cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}

.media-files-view:hover,
.media-files-view.active {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity:1;
	opacity: 1;
}

.media-files-view:before {
	text-indent: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.media-files {
	display: none;
}
.media-files:before,
.media-files:after {
	content: '';
	display: table;
	line-height: 0;
}
.media-files:after {
	clear: both;
}
.media-files.active {
	display: block;
}

/* Folder tree */
.treeview,
.treeview ul {
	padding: 0;
	margin: 0;
	position: relative;
}
.treeview {
	margin: 1em 0;
}
.treeview ul {
	list-style: none;
	margin: 0 0 0 1em;
}
.treeview li {
	margin: 0;
	padding: 0;
	position: relative;
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	-o-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}
.treeview a {
	display: block;
	padding: 0.25em 1em 0.25em 2.5em;
	line-height: 1;
	/*vertical-align: middle;*/
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.treeview a:hover {
	text-decoration: none;
	border: none;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	margin: 0;
}
.treeview a:hover:before {
	color: #fff;
}
.treeview .hitarea {
	height: 1em;
	width: 1em;
	text-align: center;
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 1em;
}
.treeview .hitarea:before {
	content: '';
	border: 5px solid transparent;
	position: absolute;
	width: 0;
	height: 0;
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -3px;
	left: 3px;
}
.treeview .expandable-hitarea {
	top: 0.3em;
}
.treeview .expandable-hitarea:before {
	border-color: transparent transparent transparent #222;
}
.treeview .folder-icon {
	margin-right: 0.4em;
}
.panel-tree img {
	width: 1.5em;
	vertical-align: middle;
}

.treeview .hitarea:hover {
	color: #222;
	border-color: #222;
}
.treeview .collapsable-hitarea {
	top: 0.5em;
}
.treeview .collapsable-hitarea:before {
	left: 0;
	border-color: #222 transparent transparent transparent;
}
.treeview a.selected {
	background-color: #eee;
}

/* Thumbs */
.media-thumbs {
	padding: 1em;
}
.media-item-thumb {
	float: left;
	width: 160px;
	display: block;
	position: relative;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	position: relative;
	cursor: default;
	text-align: center;
	background-color: white;
	/*padding: 2px;*/
	margin: 1em 0.5em 0 0.5em;
	-webkit-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
	-moz-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
	-ms-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
	-o-transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
	transition: background-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.05);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.05);
}
.media-preview .media-thumb {
	-webkit-border-radius: 0.25em 0.25em 0 0;
	-moz-border-radius: 0.25em 0.25em 0 0;
	border-radius: 0.25em 0.25em 0 0;
	height: 160px;
	width: 160px;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}
.media-preview .img-preview {
	-webkit-border-radius: 0.25em 0.25em 0 0;
	-moz-border-radius: 0.25em 0.25em 0 0;
	border-radius: 0.25em 0.25em 0 0;
	background-color: #fff;
	background-image: linear-gradient(45deg, #f1f1f1 25%, transparent 25%),
					linear-gradient(-45deg, #f1f1f1 25%, transparent 25%),
					linear-gradient(45deg, transparent 75%, #f1f1f1 75%),
					linear-gradient(-45deg, transparent 75%, #f1f1f1 75%);
	background-size: 20px 20px;
	background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}
.media-preview .media-preview-shim {
	margin: 0;
	padding: 0;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.media-preview img {
	margin: 0 auto;
	padding: 0;
	vertical-align: middle;
}
.media-preview-inner {
	position: relative;
}
.media-item-thumb.ui-selected,
.media-item-thumb.ui-selecting,
.media-item-thumb.dragover {
	-webkit-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.05);
	box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.05);
}
.media-item-thumb.ui-selected .media-preview a {
	background-color: #f0f0f0;
}

/* File options */
.media-options-btn {
	display: inline-block;
	cursor: pointer;
	-webkit-transition: all 50ms ease-in-out;
	-moz-transition: all 50ms ease-in-out;
	-o-transition: all 50ms ease-in-out;
	-ms-transition: all 50ms ease-in-out;
	transition: all 50ms ease-in-out;
	background-color: white;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	-khtml-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
	line-height: 1;
	position: relative;
}
.media-options-btn:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
}
.media-options-btn:after {
	font-family: "Feather";
	content: '\22EF';
	font-size: 1.2em;
	display: block;
	padding: 0 0.4em;
	margin: 0 auto;
	/*vertical-align: middle;*/
}
.media-preview .media-options-btn {
	display: block;
	position: absolute;
	left: auto;
	right: 4px;
	top: auto;
	bottom: 4px;
}
.media-item:hover .media-preview a {
	background-color: #f0f0f0;
}

/* List */
.media-list {
	padding: 0;
	background-color: #fff;
}
.media-list tbody tr td,
.media-list tbody tr th {
	border: none;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}
.media-list tbody tr:nth-child(odd) {
	background-color: #f9f9f9;
}
.media-list tbody tr:nth-child(odd):hover {
	background-color: #e9e9e9;
}
.media-list tbody tr:hover {
	background-color: #f1f1f1;
}
.media-list tbody tr.ui-selected,
.media-list tbody tr.ui-selected:hover {
	background-color: #2060e8;
}
.media-list tbody tr.ui-selected .media-modified,
.media-list tbody tr.ui-selected .media-type,
.media-list tbody tr.ui-selected .media-name {
	color: #fff;
}
.media-icon img {
	width: 1.5em;
}
.media-icon {
	margin-right: 0.4em;
}
.media-modified {
	white-space: nowrap;
}

.media-list tr:hover .media-options-btn,
.ui-selected .media-options-btn,
.media-item:hover .media-options-btn {
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	-khtml-opacity: 1;
	-moz-opacity: 1;
	opacity: 1;
}
.media-options {
	background: #fff;
	width: 160px;
	text-align: left;
	position: absolute;
	margin-left: -2.5em;
	z-index: 777;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.1);
	box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.1);
	display: none;
}
.media-thumbs .media-options {
	top: 162px;
	left: 100%;
}
.media-list .media-options {
	top: 100%;
	right: 0;
}
.media-options ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.media-options li {
	margin: 0;
}
.media-options .separator {
	display: block;
	height: 1px;
	background-color: #eee;
}
.media-options a {
	display: block;
	padding: 0.5em 1em;
	margin: 0.4em;
	border: none;
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
	-webkit-border-radius: 0.25em;
	-moz-border-radius: 0.25em;
	border-radius: 0.25em;
}
.media-items .media-options a{
	color: #444;
}
.media-options a:hover {
	border: none;
	text-decoration: none;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
}
.media-options a:before {
	font-size: 1.5em;
	vertical-align: middle;
	margin-right: 0.4em;
}
.media-options a.media-opt-info:hover {
	background-color: #5cb4e4;
}
.media-options a.media-opt-delete:hover {
	background-color: #dd5555;
}
.ui-activated .media-options {
	display: block;
}

/* Modal */
.media-info-label {
	display: block;
	font-weight: bold;
	color: #999;
}
.media-info-value {
	display: block;
}
.fancybox-inner .media-preview .media-thumb {
	width: 260px;
	height: 260px;
}

/* File upload */
form.dropzone,
.qq-upload-button,
.qq-upload-drop-area  {
	background: #f7f7f7;
	background: rgba(0, 0, 0, 0.05);
	border: 2px dashed #ddd;
	border: 2px dashed rgba(0, 0, 0, 0.1);
	text-align: center;
	color: #bbb;
	padding: 0;
	font-size: 1.5em;
}

.dialog {
	display: none;
}

[data-mode=dark] .treeview .expandable-hitarea:before {
	border-color: transparent transparent transparent #ccc;
}
[data-mode=dark] .treeview .hitarea:hover {
	color: #fff;
	border-color: #fff;
}

[data-mode=dark] .media-list tbody tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.1);
}
[data-mode=dark] .media-list tbody tr:hover,
[data-mode=dark] .media-list tbody tr:nth-child(odd):hover {
	background-color: rgba(255, 255, 255, 0.1);
}
[data-mode=dark] .media-container {
	border-color: rgba(255, 255, 255, 0.1);
}
[data-mode=dark] .media-header {
	border-bottom-color: rgba(255, 255, 255, 0.1);
}
[data-mode=dark] .media-item-thumb,
[data-mode=dark] .panel-tree {
	background-color: rgba(0, 0, 0, 0.2);
	border-color: rgba(255, 255, 255, 0.1);
}
[data-mode=dark] .media-item-thumb {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(255, 255, 255,0.1), 0 0 0 1px rgba(255, 255, 255,0.05);
	-moz-box-shadow: 0px 1px 2px 0px rgba(255, 255, 255,0.1), 0 0 0 1px rgba(255, 255, 255,0.05);
	box-shadow: 0px 1px 2px 0px rgba(255, 255, 255,0.1), 0 0 0 1px rgba(255, 255, 255,0.05);
}
[data-mode=dark] .media-item:hover .media-preview a {
	background-color: rgba(255, 255, 255, 0.1);
}
[data-mode=dark] .media-preview .img-preview {
	background-color: #222;
	background-image: linear-gradient(45deg, #010101 25%, transparent 25%),
				linear-gradient(-45deg, #010101 25%, transparent 25%),
				linear-gradient(45deg, transparent 75%, #010101 75%),
				linear-gradient(-45deg, transparent 75%, #010101 75%);
}
/*
@media (prefers-color-scheme: dark) {
	.treeview .expandable-hitarea:before {
		border-color: transparent transparent transparent #ccc;
	}
	.treeview .hitarea:hover {
		color: #fff;
		border-color: #fff;
	}

	.media-list tbody tr:nth-child(odd) {
		background-color: rgba(0, 0, 0, 0.1);
	}
	.media-list tbody tr:hover,
	.media-list tbody tr:nth-child(odd):hover {
		background-color: rgba(255, 255, 255, 0.1);
	}
	.media-container {
		border-color: rgba(255, 255, 255, 0.1);
	}
	.media-header {
		border-bottom-color: rgba(255, 255, 255, 0.1);
	}
	.media-item-thumb,
	.panel-tree {
		background-color: rgba(0, 0, 0, 0.2);
		border-color: rgba(255, 255, 255, 0.1);
	}
	.media-item-thumb {
		-webkit-box-shadow: 0px 1px 2px 0px rgba(255, 255, 255,0.1), 0 0 0 1px rgba(255, 255, 255,0.05);
		-moz-box-shadow: 0px 1px 2px 0px rgba(255, 255, 255,0.1), 0 0 0 1px rgba(255, 255, 255,0.05);
		box-shadow: 0px 1px 2px 0px rgba(255, 255, 255,0.1), 0 0 0 1px rgba(255, 255, 255,0.05);
	}
	.media-item:hover .media-preview a {
		background-color: rgba(255, 255, 255, 0.1);
	}
	.media-preview .img-preview {
		background-color: #222;
		background-image: linear-gradient(45deg, #010101 25%, transparent 25%),
					linear-gradient(-45deg, #010101 25%, transparent 25%),
					linear-gradient(45deg, transparent 75%, #010101 75%),
					linear-gradient(-45deg, transparent 75%, #010101 75%);
	}
}
*/
