.main-navigation {
  flex-grow: 1;
}
.main-navigation ul {
  list-style: none;
}
.main-navigation ul#adminmenu {
  z-index: 555;
  display: block;
  margin: 1em 0;
  padding: 0;
  text-align: left;
}
.main-navigation ul#adminmenu>li>ul {
  margin: 0 0 0 1em;
  padding: 0;
  position: absolute;
  top: 0.5em;
  left: 100%;
  opacity: 0;
  visibility: hidden;
  display: block;
  width: auto;
  background: var(--menu-bg);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0 0.0625rem rgba(0, 0, 0, 0.075), 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.25);
  border-radius: 0.25em;
  width: 15em;
  white-space: nowrap;
  -webkit-transition: visibility 0s, opacity 0.3s;
  -moz-transition: visibility 0s, opacity 0.3s;
  transition: visibility 0s, opacity 0.3s;
}
.main-navigation ul#adminmenu>li>ul:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  width: 20px;
}
.main-navigation ul#adminmenu>li>ul:after {
  content: '';
  display: block;
  position: absolute;
  top: 1em;
  left: -20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-color: transparent var(--menu-bg) transparent transparent;
}
.main-navigation ul#adminmenu>li>ul.drop-up {
  top: auto;
  bottom: 0.5em;
}
.main-navigation ul#adminmenu>li>ul.drop-up:after {
  top: auto;
  bottom: 1em;
}
.main-navigation ul#adminmenu ul li {
  padding: 0.5em 1em;
}
.main-navigation ul#adminmenu > li {
  display: block;
  position: relative;
  margin: 0;
  padding: 0.5em 1em;
}
.main-navigation ul#adminmenu > li:hover>ul {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.main-navigation ul#adminmenu li.separator {
  padding: 0;
}
.main-navigation ul#adminmenu li.separator span {
  display: block;
  height: 1px;
  margin: 0 1em;
  background-color: rgba(255, 255, 255, 0.1);
}
.main-navigation ul#adminmenu > li.node:after {
  content: "\e921";
  font-family: Feather;
  position: absolute;
  right: 0;
  top: 1.5em;
  color: rgba(255, 255, 255, 0.4);
}
.main-navigation ul#adminmenu > li.node:hover:after {
  color: rgba(255, 255, 255, 1);
}
.main-navigation ul#adminmenu > li > a {
  padding: 0.75em 0.9em;
  display: block;
  font-size: 1.2em;
  position: relative;
  color: transparent;
  overflow: hidden;
  border-radius: 0.25em;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.main-navigation ul#adminmenu > li > a:before {
  vertical-align: middle;
  margin-right: 1em;
  font-size: 1.2em;
  text-align: center;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.main-navigation ul#adminmenu > li > a:hover {
  border: none;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
}
.main-navigation ul#adminmenu > li > a:hover:before {
  color: #fff;
}
.main-navigation ul#adminmenu > li.active > a {
  background-color: rgba(255, 255, 255, 0.075);
  /*background-color: rgba(240, 95, 43, 0.1);*/
}
.main-navigation ul#adminmenu > li.active > a:before {
  color: #fff;
  /*color: rgba(240, 95, 43, 1);*/
}
.main-navigation ul#adminmenu.disabled li a:before,
.main-navigation ul#adminmenu.disabled > li:hover > a:before,
.main-navigation ul#adminmenu.disabled > li:focus > a:before,
.main-navigation ul#adminmenu.disabled li > a:hover:before,
.main-navigation ul#adminmenu.disabled li > a:focus:before {
  color: rgba(255, 255, 255, 0.2);
}
.main-navigation ul#adminmenu.disabled > li a:hover,
.main-navigation ul#adminmenu.disabled > li a:focus {
  background-color: transparent;
}
.main-navigation ul#adminmenu a,
.menu-open ul#adminmenu > li > a {
  color: rgba(255, 255, 255, 0.6);
}
.main-navigation ul#adminmenu a:hover,
.menu-open ul#adminmenu > li > a:hover {
  color: #fff;
}
.menu-open ul#adminmenu > li.deeper:after {
  display: block;
}
.main-navigation .badge {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  padding: 0.125em 0.3em;
}
@media (max-height: 800px) {
  .main-navigation {
    font-size: 1em;
  }
  #header .user-options li a,
  .main-navigation ul#adminmenu > li > a {
    font-size: 1em;
    padding: 0.5em 1.1em;
  }
  .main-navigation ul#adminmenu > li.node:after {
    top: 1em;
  }
}
