/node_modules
/public/hot
/public/storage
/public/modules
/public/themes
/public/listeners
/public/widgets
/public/storage
/storage/*.key
/app/Modules/*/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
