/node_modules
/public/hot
/public/storage
/public/modules
/public/themes
/public/listeners
/public/widgets
/public/storage
/public/files
/public/mix-manifest.json
/storage/*.key
/storage/mysql/*
/app/Modules/*/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/docker/ssl/incommon-sha2.intermediate.ca.crt
/docker/ssl/server.crt
/docker/ssl/server.key
/storage/dump/rcacdev_2021-05-18.sql
