/node_modules
/public/hot
/public/storage
/public/files
/public/modules
/public/themes
/public/listeners
/public/widgets
/public/mix-manifest.json
/storage/*.key
/storage/mysql/*
/app/Modules/*/node_modules
/vendor
.env
.env.backup
.phpunit.result.cache
.DS_Store
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/docker/ssl/*
/storage/dump/*
/.idea
/.vscode
