/**
 * @package  Users manager
 */

.auth {
	margin: 5em auto;
	width: 25em;
}

.auth h2.card-title {
	margin-top: 0;
}

.auth .or {
	margin: 2em auto;
	overflow: hidden;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	font-size: 85%;
}

.auth .or:before,
.auth .or:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 45%;
	height: 1px;
	background: #eee;
}

.auth .or:before {
	left: 0;
}

.auth .or:after {
	right: 0;
}
