/**
 * @package    News
 */

ul.newslist li {
	margin-top: 0.5em;
	margin-left: 0;
}
.news-list {
	list-style: none;
	margin-left: 0;
}
.contentInner ul.news-list>li,
.news-list>li {
	list-style: none;
	margin: 0;
	padding: 1.5em 0;
}
.news-list>li {
	border-top: 1px solid #eee;
}
.news-list>li:first-child {
	border-top: none;
}
.news-list article>*:first-child {
	margin: 0 0 0.5em 0;
	padding: 0;
}
.news-list article>*:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}
.news-list article h3 {
	font-size: 1.2em;
}
fieldset.filters {
	background: #f5f5f5;
	padding: 1em;
}
fieldset.filters fieldset {
	margin: 0 0 1em 0;
}
fieldset.filters fieldset legend {
	font-weight: bold;
	border: none;
	margin-bottom: 0.5em;
	font-size: 1em;
}
fieldset.filters fieldset .form-check-label {
	font-weight: normal;
}

.news-admin .edit {
	float: right;
	margin-left: 1em;
}
.news-meta {
	list-style: none;
	font-size: 0.9em;
	margin: 0 0 1em 0;
}
.contentInner ul.news-meta li,
.news-meta li {
	list-style: none;
	margin: 0;
	padding: 0;
}
.news-meta .fa-fw,
.news-meta li:before {
	color: #aaaaaa;
	margin-right: 0.5em;
}
.news-meta li:before {
	font-family: 'FontAwesome';
	width: 1em;
	display: inline-block;
	text-align: center;
}
.news-location:before {
	content: "\f041";
}
.news-date:before {
	content: "\f073";
}
.news-type:before {
	content: "\f07b";
}
.news-url:before {
	content: "\f0c1";
}
.news-tags:before {
	content: "\f02c";
}
.news-resources:before {
	content: "\f233";
}
.news-group:before {
	content: "\f0c0";
}
.news-author:before {
	content: "\f007";
}
.news-users:before {
	content: "\f0c0";
}
.news-action {
	margin-left: 0.5em;
}
.card-body {
	position: relative;
}
.card-options {
	position: absolute;
	top: -1.2em;
	right: 1em;
	border: 1px solid #dddddd;
	background: #fff;
	border-radius: 4px;
	padding: 0.2em 0.5em;
}
