/* Base */

body,
body *:not(html):not(style):not(br):not(tr):not(code) {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    position: relative;
}

body {
    -webkit-text-size-adjust: none;
    background-color: #f6f6f6;
    color: #656565;
    height: 100%;
    line-height: 1.4;
    margin: 0;
    padding: 0;
    width: 100% !important;
}

p,
ul,
ol,
blockquote {
    line-height: 1.4;
    text-align: left;
}
blockquote {
    background-color: #e9f5fe;
    padding: 10px 20px;
    margin: 0 0 10px;
}
blockquote *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}

dt {
    font-weight: bold;
}
dd {
    margin-bottom: 2em;
}

a {
    color: #3869d4;
}

a img {
    border: none;
}

/* Typography */

h1 {
    color: #3d4852;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    margin-top: 0;
    text-align: left;
}

p {
    font-size: 14px;
    line-height: 1.5em;
    margin-top: 0;
    text-align: left;
}

p.sub {
    font-size: 12px;
}

img {
    max-width: 100%;
}
hr {
    height: 4px;
    padding: 0;
    margin: 1em 0;
    background-color: #eee;
    border: 0;
    overflow: hidden;
}
/* Layout */

.wrapper {
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
    background-color: #f6f6f6;
    margin: 0;
    padding: 0;
    width: 100%;
}

.content {
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Header */

.header {
    padding: 25px 0;
    text-align: center;
    background: #000;
    color: #fff;
    border-top: 4px solid #cfb991;
}

.header a {
    /*color: #3d4852;*/
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
}

.alert {
    padding: 10px;
    text-align: center;
    background: #fff;
    color: #fff;
}
.alert a {
    font-weight: bold;
}
.alert>*:first-child {
    margin-top: 0;
    padding-top: 0;
}
.alert>*:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
}
.alert-warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
}
.alert-warning a {
    color: #8a6d3b;
}
.alert-info {
    background-color: #d9edf7;
    color: #31708f;
}
.alert-info a {
    color: #31708f;
}
.alert-danger {
    background-color: #f2dede;
    color: #a94442;
}
.alert-danger a {
    color: #a94442;
}

/* Logo */

.logo {
    height: 35px;
    width: 395px;
}

/* Body */

.body {
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
    background-color: #f6f6f6;
    border-bottom: 1px solid #f6f6f6;
    border-top: 1px solid #f6f6f6;
    margin: 0;
    padding: 25px 0 0 0;
    width: 100%;
}

.inner-body {
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 670px;
    background-color: #ffffff;
    border-color: #e8e5ef;
    border-radius: 2px;
    border-width: 1px;
    box-shadow: 0 2px 0 rgba(0, 0, 150, 0.025), 2px 4px 0 rgba(0, 0, 150, 0.015);
    margin: 0 auto;
    padding: 0;
    width: 670px;
}

/* Subcopy */

.subcopy {
    border-top: 1px solid #e8e5ef;
    margin-top: 25px;
    padding-top: 25px;
}

.subcopy p {
    font-size: 14px;
}

/* Footer */

.footer {
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 670px;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 670px;
}

.footer p {
    color: #999;
    font-size: 12px;
    text-align: center;
    margin: 0 0 0.5em 0;
}

.footer a {
    color: #777;
    text-decoration: underline;
}

/* Tables */
table {
    border-collapse: collapse;
    mso-table-lspace: 0pt;
    mso-table-rspace: 0pt;
}
table tr {
    border-collapse: collapse;
}
table td {
    border-collapse: collapse;
}
table caption {
    text-align: left;
}

.content-cell table,
.table table {
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
    margin: 1em auto;
    width: 100%;
}
.content-cell th,
.table th {
    margin: 0;
    padding: 5px;
    border: 1px solid #eee;
    vertical-align: top;
    background-color: #f5f5f5;
    border-bottom: 2px solid #eee;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
}
.content-cell td,
.table td {
    color: #74787e;
    font-size: 13px;
    line-height: 1.4;
    margin: 0;
    padding: 5px;
    border: 1px solid #eee;
    vertical-align: top;
    text-align: left;
}
.content-cell th[align=center],
.table th[align=center],
.content-cell td[align=center],
.table td[align=center] {
    text-align: center;
}
.content-cell th[align=right],
.table th[align=right],
.content-cell td[align=right],
.table td[align=right] {
    text-align: right;
}
.content-cell caption,
.table caption {
    background-color: #656565;
    border-color: #656565;
    font-weight: bold;
    color: #fff;
    padding: 5px;
}

.content-cell {
    max-width: 100vw;
    padding: 32px;
}

/* Buttons */

.action {
    -premailer-cellpadding: 0;
    -premailer-cellspacing: 0;
    -premailer-width: 100%;
    margin: 30px auto;
    padding: 0;
    text-align: center;
    width: 100%;
}

.button {
    -webkit-text-size-adjust: none;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    overflow: hidden;
    text-decoration: none;
}

.button-blue,
.button-primary {
    background-color: #2d3748;
    border-bottom: 8px solid #2d3748;
    border-left: 18px solid #2d3748;
    border-right: 18px solid #2d3748;
    border-top: 8px solid #2d3748;
}

.button-green,
.button-success {
    background-color: #48bb78;
    border-bottom: 8px solid #48bb78;
    border-left: 18px solid #48bb78;
    border-right: 18px solid #48bb78;
    border-top: 8px solid #48bb78;
}

.button-red,
.button-error {
    background-color: #e53e3e;
    border-bottom: 8px solid #e53e3e;
    border-left: 18px solid #e53e3e;
    border-right: 18px solid #e53e3e;
    border-top: 8px solid #e53e3e;
}

/* Panels */

.panel {
    border-left: #2d3748 solid 4px;
    margin: 21px 0;
}

.panel-content {
    background-color: #f6f6f6;
    color: #718096;
    padding: 16px;
}

.panel-content p {
    color: #718096;
}

.panel-item {
    padding: 0;
}

.panel-item p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Utilities */

.break-all {
    word-break: break-all;
}

@media only screen and (max-device-width: 480px) {
    body {
        -webkit-text-size-adjust: 100% !important;
        -ms-text-size-adjust: 100% !important;
        font-size: 100% !important;
    }
    table.inner-body td.header,
    table.inner-body td.content-cell {
        width: auto !important;
        margin: 0 2em !important;
    }
    .content .mobilehide {
        display: none !important;
    }

    .content-cell th {
        display: none;
    }
    .content-cell table,
    .content-cell table tbody,
    .content-cell table tr,
    .content-cell table td {
        width: auto;
        display: block;
        border-top: none;
    }
    .content-cell table tr {
        margin: 0 0 1em 0;
        border: 1px solid #eee;
    }
}