/*
 * Default Site styles
 */

/*
:root{
  --blue:#007bff;
  --indigo:#6610f2;
  --purple:#6f42c1;
  --pink:#e83e8c;
  --red:#dc3545;
  --orange:#fd7e14;
  --yellow:#ffc107;
  --green:#28a745;
  --teal:#20c997;
  --cyan:#17a2b8;
  --white:#fff;
  --gray:#6c757d;
  --gray-dark:#343a40;
  --primary:#007bff;
  --secondary:#6c757d;
  --success:#28a745;
  --info:#17a2b8;
  --warning:#ffc107;
  --danger:#dc3545;
  --light:#f8f9fa;
  --dark:#343a40;
  --breakpoint-xs:0;
  --breakpoint-sm:576px;
  --breakpoint-md:768px;
  --breakpoint-lg:992px;
  --breakpoint-xl:1200px;
  --font-family-sans-serif:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --font-family-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace
}

[data-mode=light] {*/
:root {
  color-scheme: light dark;
  --panel: #fff;
  --panel-border: #e5e5e5; /*ddd;*/
  --body-bg: #fff; /* f5f5f5; */
  --body-text: #444; /*#283351; #707070;*/
  --menu-bg: #1a1a1c; /*#292930; */
  --menu-br: #d1d1d1;
  --header-text: #5e5e5e;
  --legend-text: #333; /* #283351 */
  --legend-border: transparent; /*rgba(0, 0, 0, 0.1);*/
  --input-back: rgba(0, 0, 0, 0.025);
  --input-back-disabled: #eee;
  --input-back-focus: #f5f5f5;
  --input-border: #ddd;
  --input-border-focus: #5897fb;
  --input-border-disabled: rgba(0, 0, 0, 0.15);
  --input-color: #444;
  --input-color-disabled: #656565;
  --input-prepend-back: #f1f1f1;
  --input-prepend: #656565;
  --check-back: #f5f5f5;
  --check-back-disabled: #eee;
  --check-border: #cdcdcd;
  --check-back-checked: #222;
  --check-border-checked: #222;
  --btn-secondary-bg: #fff;
  --btn-secondary-br: #dbdbdb;
  --btn-secondary-cl: #333;
  --btn-secondary-bg-focus: #fff;
  --btn-secondary-br-focus: #ccc;
  --btn-secondary-cl-focus: #222;
  --btn-secondary-bg-active: #fff;
  --btn-secondary-br-active: #bbb;
  --btn-secondary-cl-active: #111;
  --footer-border: rgba(0, 0, 0, 0.1);
  --fieldset-bg: #fff;
  --fieldset-br: rgba(0,0,0,.125);
  --page-link-bg: #fff;
  --page-link-br: #dee2e6;
  --page-link: #333;
  --page-link-bg-disabled: #fff;
  --page-link-br-disabled: #dee2e6;
  --page-link-disabled: #6c757d;
  --page-link-bg-active: #333;
  --page-link-br-active: #333;
  --indicator: #ddd;
  --table-br: #e5e5e5; /* #e8e8e8 */
  --table: #656565;
  --table-th: #757575;
  --table-th-active: #333;
  --table-th-hover: #222;
  --table-link: #757575;
  --table-tr-hover: #333;
  --link: #444;
  --link-hover: #014cc4; /*#000;*/
  --label: #333;
  --hr: #ccc;
  /* Tooltips */
  --tip-back: #383838;
  --tip-border: #383838;
  --tip-color: #fff;
  /* Tabs */
  --tab-back-active: transparent; /*#f5f5f5*/
  --tab-border-active: #d7d7d7 #d7d7d7 #f5f5f5 #d7d7d7;
  --tab-border-hover: transparent;
  --tab-color: #656565;
  --tab-active: #222;
  --tabs-border: #d7d7d7;
  --navtab-border-active: transparent transparent #000 transparent; /*#d7d7d7 #d7d7d7 #f5f5f5 #d7d7d7;*/
  --navtab-border-hover: transparent transparent #014cc4 transparent;
  /* States */
  --off-color: #686868;
  --off-border: #e7e7e7;
  --off-back: #e7e7e7;
  --off-color-hover: #e7e7e7;
  --off-back-hover: #686868;
  --off-border-hover: #686868;
  --on-color: #297A3A;
  --on-border: #e2f3e6;
  --on-back: #e2f3e6;
  --on-color-hover: #e2f3e6;
  --on-back-hover: #297A3A;
  --on-border-hover: #297A3A;
  --fieldset-hover: #d7d7d7;
  --accordian-body: #fff;
  --accordian-border: #e5e5e5;
  --accordian-color-active: #222;
  --accordian-body-active: #fff;
  --accordian-border-active: rgba(20, 106, 236, 0.5);
  --accordian-header-border: rgba(0, 0, 0, 0.1);
  --badge-secondary-background: rgba(200, 200, 200, 0.4);
  --badge-secondary: #656565;
  --badge-danger-background: rgba(218, 52, 71, 1);
  --badge-danger: #fff;
  --badge-success-background: rgba(48, 166, 73, 0.2);
  --badge-success: green;
  --badge-primary-background: rgba(30, 163, 183, 1);
  --badge-primary: #fff;
  /*--badge-warning-background: rgba(255, 191, 39, 1);
  --badge-warning: #212529;*/
  --badge-warning-background: rgba(255, 191, 39, 0.2); /* rgba(241,180,76,.18) */
  --badge-warning: rgb(212, 149, 1); /* #f1b44c */
  --badge-info-background: rgba(30, 163, 163, 0.15);
  --badge-info: rgba(30, 163, 163, 1);
  --none: #ccc;
  --tag-bg: rgb(248, 229, 175);
  --ui-widget-bg: #fff;
  --ui-widget-br: #ddd;
  --ui-widget-footer-bg: #f5f5f5;
  --required: rgba(200, 0, 0, 0.4);
  /*--page-link-border: #f5f5f5;*/
  --meta-bg: rgba(0, 0, 0, 0.1);
  --meta-br: rgba(255, 255, 255, 0.5);
  --pane-bg: #fff;
  --pane-br: #e9e9e9;
}
[data-mode=dark] {
  --panel: #252529; /*rgba(255, 255, 255, 0.05);*/
  --panel-border: #313136; /*transparent; */
  --body-bg: #2d2d32; /*#1c1b21;*/
  --body-text: #95959f; /*#aaa;*/
  --menu-bg: #1a1a1c; /*#292930;*/
  --menu-br: #111;
  --header-text: #5e5e5e;
  --legend-text: #fff;
  --legend-border: rgba(31, 16, 16, 0.1);
  --input-back:  rgba(0, 0, 0, 0.25); /*rgba(255, 255, 255, 0.05);*/
  --input-back-disabled: rgba(0, 0, 0, 0.15); /*rgba(255, 255, 255, 0.1);*/
  --input-back-focus: rgba(0, 0, 0, 0.25); /*rgba(255, 255, 255, 0.05);*/
  --input-border: transparent; /*rgba(255, 255, 255, 0.1);*/
  --input-border-focus: #5897fb;
  --input-border-disabled: rgba(255, 255, 255, 0.1);
  --input-color: rgba(255, 255, 255, 0.5);
  --input-color-disabled: rgba(255, 255, 255, 0.5);
  --input-prepend-back: rgba(255, 255, 255, 0.1);
  --input-prepend: rgba(255, 255, 255, 0.3);
  --check-back: rgba(255, 255, 255, 0.1);
  --check-back-disabled: #eee;
  --check-border: transparent;
  --check-back-checked: #5897fb;
  --check-border-checked: #5897fb;
  --btn-secondary-bg: #f1f1f1;
  --btn-secondary-br: #f1f1f1;
  --btn-secondary-cl: #333;
  --btn-secondary-bg-focus: #eee;
  --btn-secondary-br-focus: #eee;
  --btn-secondary-cl-focus: #222;
  --btn-secondary-bg-active: #e1e1e1;
  --btn-secondary-br-active: #e1e1e1;
  --btn-secondary-cl-active: #111;
  --footer-border: rgba(255, 255, 255, 0.1);
  --fieldset-bg: #252529; /*#1c1b21;*/
  --fieldset-br: #313136; /*rgba(0,0,0,.125);*/
  --page-link-bg: #252529; /*rgba(255, 255, 255, 0.1);*/
  --page-link-br: #313136; /*#1c1b21;*/
  --page-link: #888;
  --page-link-bg-disabled: rgba(0,0,0,.1); /*rgba(255, 255, 255, 0.05);*/
  --page-link-br-disabled: #313136; /*#1c1b21;*/
  --page-link-disabled: #6c757d;
  --page-link-bg-active: rgba(92, 192, 215, 0.2);
  --page-link-br-active: #1c1b21;
  --indicator: #555;
  --table-br: #313136; /*#1d1d24;*/
  --table: #999;
  --table-th: #757575;
  --table-th-active: #fff;
  --table-th-hover: #5897fb;
  --table-link: #757575;
  --table-tr-hover: #fff;
  --link: #e1e1e1;
  --link-hover: #5897fb;
  --label: #d3d3d3;
  --hr: rgba(255, 255, 255, 0.1);
  --tip-back: #fff;
  --tip-border: #fff;
  --tip-color: #383838;
  /* Tabs */
  --tab-back-active: transparent;
  --tab-border-active: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) #2d2d32 rgba(255, 255, 255, 0.2);
  --tab-border-hover: transparent;
  --tab-color: #999;
  --tab-active: #fff;
  --tabs-border: rgba(255, 255, 255, 0.2);
  --navtab-border-active: transparent transparent #fff transparent;
  --navtab-border-hover: transparent transparent #5897fb transparent;
  /* States */
  --off-color: #fff;
  --off-border: #444;
  --off-back: #444;
  --off-color-hover: #e7e7e7;
  --off-back-hover: #686868;
  --off-border-hover: #686868;
  --on-color: #fff;
  --on-border: transparent;
  --on-back: rgba(48, 166, 73, 0.3);
  --on-color-hover: #fff;
  --on-back-hover: rgba(48, 166, 73, 0.6);
  --on-border-hover: transparent;
  --fieldset-hover: rgba(255, 255, 255, 0.2);
  --accordian-body: rgba(255, 255, 255, 0.1);
  --accordian-border: rgba(255, 255, 255, 0.2);
  --accordian-header-border: rgba(255, 255, 255, 0.1);
  --accordian-color-active: #fff;
  --accordian-body-active: rgba(255, 255, 255, 0.1);
  --accordian-border-active: rgba(20, 106, 236, 0.5);
  --badge-secondary-background: rgba(100, 100, 100, 0.5);
  --badge-secondary: #ccc;
  --badge-danger-background: rgba(218, 52, 71, 0.3); /* rgba(244,106,106,.25) */
  --badge-danger: rgba(218, 52, 71, 1); /* #f46a6a */
  --badge-success-background: rgba(48, 166, 73, 0.2); /* rgba(52,195,143,.18) */
  --badge-success: rgba(48, 166, 73, 1); /* #34c38f */
  --badge-primary-background: rgba(30, 163, 183, 0.3);
  --badge-primary: #fff;
  --badge-warning-background: rgba(255, 191, 39, 0.3); /* rgba(241,180,76,.18) */
  --badge-warning: rgba(255, 191, 39, 1); /* #f1b44c */
  --badge-info-background: rgba(30, 163, 163, 0.3); /* rgba(80,165,241,.18) */
  --badge-info: rgba(30, 163, 163, 1); /* #50a5f1 */
  --none: #555;
  --tag-bg: rgb(248, 229, 175, 0.25);
  /*--page-link-border: #1c1b21;*/
  --ui-widget-bg: #252529; /*#1c1b21;*/
  --ui-widget-br: #313136; /*#292930;*/
  --ui-widget-footer-bg: #313136; /*rgb(255, 255, 255, 0.05);*/
  --required: #c00;
  --meta-bg: rgba(0, 0, 0, 0.2);
  --meta-br: rgba(0, 0, 0, 0.2);
  --pane-bg: rgba(0, 0, 0, 0.2);
  --pane-br: rgb(255, 255, 255, 0.05);
}

/* Reset */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted var(--body-text);
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: inherit;
  font: 100%;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--hr);
  margin: 1.5em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
pre,
code,
kbd,
samp {
  font-size: 87.5%;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
b,
strong,
th {
  font-weight: 700;
}
i,
em {
  font-style: italic;
}
td,
td img {
  vertical-align: top;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
small,
.small {
  font-size: 0.8em;
  line-height: 2;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}
p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: auto;
  hyphens: auto;
  orphans: 3;
  widows: 3;
  margin: 1em 0;
}
img,
embed,
object,
video {
  max-width: 100% !important;
}
/*ul,
ol,
dl,
blockquote,
hr,
pre,
table,
fieldset,
article,
article,
footer,
nav {
  margin: 0 0 1.5em 0;
  margin: 0 0 2em 0;
  line-height: 1.5em;
}*/
article ul {
  margin: 0 0 1.5em 0;
  list-style: disc outside;
}
article ol {
  margin: 0 0 1.5em 0;
  list-style: decimal outside;
}
dd {
  margin: 0 0 0.5em 1.5em;
}
dt {
  font-weight: bold;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: middle;
  *vertical-align: baseline;
}
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
  vertical-align: baseline;
}
button {
  width: auto;
  overflow: visible;
}

html {
  font-size: 85%;
  text-align: center;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: var(--body-bg);
}
header {
  background: #fff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em 0;
}
h1 {
  font-size: 1.5em;
  font-weight: bold;
}
h2 {
  font-size: 1.25em;
}
#wrapper {
  min-height: 100%;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: ease height 300ms;
  transition: ease height 300ms;
  flex-direction: column;
}
#wrapper>* {
  align-self: stretch;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 0 0 1;
  width: 100%;
}
main {
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  width: 100%;
  flex-direction: column;
}
