/**
 * Orders
 */

.never,
.unknown {
	color: #ccc;
}
.filters {
	background-color: #f5f5f5;
}
.draghandle {
	cursor: move;
}
.canceled {
	color: #999;
}
.cancellable {
	margin: 0 0 2em 0;
}

.pending_payment {
	color: #5ed001;
	/*background-color: rgba(216, 255, 184, 0.5);  bffe8a green */
}
.pending_collection,
.pending_approval,
.pending_boassignment {
	color: #ffaa00;
	color: #DF7401;
	 /*background-color: rgba(255, 248, 222, 0.5); yellow */
}
.pending_fulfillment {
	color: #ff3a33;
	/*background-color: rgba(255, 221, 220, 0.5);  red */
}
.complete {
	/*background-color: #e2f3e6;*/
	color: #3db557;
}

.product-sequence,
.product-delete {
	margin: 0;
}
a.product-move-up,
a.product-move-down,
a.product-move-up:visited,
a.product-move-down:visited {
	color: #20809D;
}
a.product-move-up:hover,
a.product-move-down:hover,
a.product-move-up:focus,
a.product-move-down:focus {
	color: blue;
}
.product-move-down .editicon {
	width: auto;
	height: auto;
}
.product-delete {
	width: 18px;
	height: 18px;
}
.product-edit-cancel img {
	display: none;
}
.product-edit-controls {
	white-space: nowrap;
}
.product-edit-disabled {
	cursor: not-allowed;
}
.product-edit-input {
	display: none;
}
.product-label {
	font-weight: bold;
}
.product-mou {
	width: 350px;
	font-size: 0.7em;
	word-wrap:break-word;
}
table.orderproduct td.product-category {
	padding: 6px;
}
table.orderproduct td.product-manage {
	padding-right: 20px;
	padding-left: 12px;
}

table tbody tr.selected td,
table tbody tr.selected {
	background-color: #eaf6f6;
}
.checkout-step {
	display: none;
}
