.auth .database:before {
	content: "";
	width: 50px;
	height: 50px;
	background-image: url('../img/padlock.svg');
	background-repeat: no-repeat;
	background-size: 50px 50px;
	top: 0;
	left: -5px;
}
.auth .database {
	background: #999;
}
.auth .database .signin {
	margin-left: 55px;
}

/* Others */
.auth .database:before {
	content: "\f002";
}
.auth .database {
	color: #999;
}

/* Primary */
.primary .upper.database:before {
	content: "Halcyon";
}

.primary .database:before {
	content: "";
}
.primary .database {
	background-color: #999;
}
