
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust:100%;
	font-family: sans-serif;
	height: 100%;
}

body {
	color: #000;
	/*background-color: #f5f5f5;*/
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	height: 100%;
}
a {
	color: #0071EB;
}
code {
	color: #D71972;
}
.badge-info {
	background-color: #20809D;
}
.text-info {
	color: #20809D;
}

.panel-v {
	min-height: 100%;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: ease height 300ms;
	transition: ease height 300ms;
	flex-direction: column;
}
.panel-v > * {
	align-self: stretch;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	width: 100%;
}
.panel-v > .docs-info,
.panel-v > footer {
	flex-grow: 0;
	padding: 1rem;
}
footer section {
	color: #666;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-direction: row;
	width: 100%;
}
footer section > * {
	flex: 1 0 auto;
}
footer section > *:last-child {
	text-align: right;
}
.hide {
	display: none;
	visibility: hidden;
}
.docs-sidebar {
	background: #f9f9f9;
	border-bottom: 1px solid rgba(148,151,155,0.2);
}
/*.docs-sidebar+.docs-main {
	position: relative;
	overflow: hidden;
}*/
.docs-content {
	padding: 0 1rem 1rem 1rem;
}

.docs-sidebar ul {
	list-style: none;
}
.docs-sidebar-tree {
	display: none;
	margin: 1em 0;
}
.docs-sidebar-tree.active {
	display: block;
}
.docs-sidebar-tree ul {
	margin-left: 1em;
}
.docs-sidebar-tree a {
	position: relative;
	display: block;
	font-size: 1em;
	font-weight: 500;
	color: inherit;
	text-decoration: none;
	user-select: none;
	padding: 8px;
	padding-left: 1.5rem;
	line-height: 1;
}
.docs-sidebar-tree a:before {
	content: "";
	display: inline-block;
	width: 1.2em;
	height: 1.2em;
	background-position: 0 0;
	background-repeat: no-repeat;
	margin-right: 0.5em;
	transition: opacity 100ms;
	opacity: 0.3;
	vertical-align: bottom;
	background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23565B73%22%20d%3D%22M8.3%201H1v14h12V5.6L8.3%201zM4%2010h6v1H4v-1zm0-2h6v1H4V8zm0-2h4v1H4V6z%22%2F%3E%3C%2Fsvg%3E");
}
.docs-sidebar-tree .folder>a:before {
	background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23008CFF%22%20d%3D%22M7%204h7v10H0V2h7v2zM1+3v1h5V3H1z%22%2F%3E%3C%2Fsvg%3E");
}
.docs-sidebar-tree .folder.active>a:before {
	background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cpath%20fill%3D%22%23008CFF%22%20opacity%3D%22.3%22%20d%3D%22M7%204h7v10H0V2h7v2zM1%203v1h5V3H1z%22%2F%3E%3Cpath%20fill%3D%22%23008CFF%22%20fill-rule%3D%22evenodd%22%20clip-rule%3D%22evenodd%22%20d%3D%22M14%2014H0l2-7h14l-2%207z%22%2F%3E%3C%2Fsvg%3E");
	opacity: 1;
}
.docs-sidebar-tree .folder ul {
	display: none;
}
.docs-sidebar-tree .folder.active ul {
	display: block;
}
.docs-sidebar-header {
	padding: 1rem;
	border-bottom: 1px solid rgba(148,151,155,0.2);
	z-index: 0;
	margin: 0;
	position: relative;
}
.docs-sidebar-header .navbar-toggle {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.docs-sidebar-header h2 {
	font-size: 1em;
	margin: 0;
}

.swagger-ui .opblock {
	margin: 0 0 15px;
	border: 1px solid rgba(148,151,155,0.2);
	/*border-radius: 4px;
	box-shadow:0 0 3px rgba(0, 0, 0, .19);*/
}

.swagger-ui .opblock .tab-header {
	display: flex;
	flex:1
}

.swagger-ui .opblock .tab-header .tab-item {
	padding: 0 40px;
	cursor:pointer
}

.swagger-ui .opblock .tab-header .tab-item:first-of-type {
	padding:0 40px 0 0
}

.swagger-ui .opblock .tab-header .tab-item.active h4 span {
	position:relative
}

.swagger-ui .opblock .tab-header .tab-item.active h4 span:after {
	position: absolute;
	bottom: -15px;
	left: 50%;
	width: 120%;
	height: 4px;
	content: "";
	transform: translateX(-50%);
	background:grey
}
/*
.swagger-ui .opblock.is-open .opblock-summary {
	border-bottom:1px solid #000
}
*/
.swagger-ui .opblock .opblock-section-header {
	display: flex;
	align-items: center;
	padding: 0.75rem;
	/*min-height: 50px;
	background: rgba(230, 230, 230, .8);
	box-shadow:0 1px 2px rgba(0, 0, 0, .1)*/
}

.swagger-ui .opblock .opblock-section-header > label {
	font-size: 1em;
	font-weight: 700;
	display: flex;
	align-items: center;
	margin: 0 0 0 auto;
	font-family: sans-serif;
	color:#3b4151
}

.swagger-ui .opblock .opblock-section-header > label > span {
	padding:0 10px 0 0
}

.swagger-ui .opblock .opblock-section-header h4 {
	font-size: 1em;
	flex: 1;
	margin: 0;
	/*font-family: sans-serif;
	color:#3b4151*/
}

.swagger-ui .opblock .opblock-summary {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	/*flex-direction: column;
	padding: 5px;*/
	cursor:pointer;
	background-color: #f5f5f5;
	position: relative;
}
.swagger-ui .opblock .opblock-summary-method {
	font-size: 1em;
	font-weight: 700;
	min-width: 7em;
	padding: 6px 15px;
	text-align: center;
	/*border-radius: 3px;*/
	background: #000;
	text-shadow: 0 1px 0 rgba(0, 0, 0, .1);
	font-family: sans-serif;
	color:#fff
}
.swagger-ui .opblock .opblock-summary-path {
	flex-shrink: 0;
	/*min-width: 40%;
	max-width: calc(100% - 110px - 15rem)*/
	min-width: calc(100% - 110px);
	max-width: calc(100% - 110px)
}

.swagger-ui .opblock .opblock-summary-path__deprecated {
	text-decoration:line-through
}

.swagger-ui .opblock .opblock-summary-operation-id {
	font-size: 1.2em;
}

.swagger-ui .opblock .opblock-summary-description {
	flex: 0 0 100%;
	word-break: break-word;
	font-family: sans-serif;
	color:#3b4151;
	padding: 6px;
	background-color: rgba(0, 0, 0, 0.05);
}
.authorization__btn {
	position: absolute;
	top: 6px;
	right: 1em;
}

/*@media (max-width: 768px) {
	.swagger-ui .opblock .opblock-summary-description {
		flex: none;
		display: block;
		width: 100%;
	}
}*/

.swagger-ui .opblock .opblock-summary-operation-id,
.swagger-ui .opblock .opblock-summary-path,
.swagger-ui .opblock .opblock-summary-path__deprecated {
	font-size: 1.2em;
	display: flex;
	align-items: center;
	word-break: break-word;
	padding: 0 10px;
	font-family: monospace;
	font-weight: 600;
	color:#3b4151
}

.swagger-ui .opblock .opblock-section {
	padding: 2em;
}

/*@media (max-width: 768px) {
	.swagger-ui .opblock .opblock-summary-operation-id,
	.swagger-ui .opblock .opblock-summary-path,
	.swagger-ui .opblock .opblock-summary-path__deprecated {
		font-size: 0.85em;
	}
}*/

.swagger-ui .opblock .opblock-summary-path {
	flex-shrink: 0;
	max-width:calc(100% - 110px - 15rem)
}

.swagger-ui .opblock.opblock-get .opblock-summary-method {
	background: #0071EB; /*#61affe*/
}
.swagger-ui .opblock.opblock-patch .opblock-summary-method {
	background:#50e3c2
}
.swagger-ui .opblock.opblock-delete .opblock-summary-method {
	background: #ED0707; /*#f93e3e*/
}
.swagger-ui .opblock.opblock-put .opblock-summary-method {
	background: #C15401; /*#fca130;*/
}
.swagger-ui .opblock.opblock-post .opblock-summary-method {
	background: #218739; /*#49cc90;*/
	/*background: #fff;
	color: #49cc90;
	border: 2px solid #49cc90;*/
}

.swagger-ui .opblock .opblock-body {
	display: none;
}
.swagger-ui .opblock.is-open .opblock-body {
	display: block;
}

.docs-api-tag {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 0.625rem;
	font-weight: 500;
	line-height: 1;
	display: inline-block;
	padding: 0.75em 1em;
	/*margin-right: 0.75em;
	margin-bottom: 0.75em;*/
	box-shadow: inset 0 0 0 1px rgba(148,151,155,0.2);
	border-radius: 2px;
	transition: background-color 100ms;
}
.docs-api-param-query {
	color: green;
}
.docs-api-param-body {
	color: blue;
}

pre {
	padding: 1em;
	background-color: #152748;
	box-shadow: inset 0 -2px 0 -1px rgba(148,151,155,0.2);
	color: white;
}
.required {
	font-size: 85%;
	display: inline-block;
	background-color: #c00;
	color: #fff;
	border-radius: 0.25em;
	padding: 0.2em 0.5em;
}
.twlo-code pre.line-numbers {
	padding-left: 4.5rem !important;
	counter-reset: linenumber;
}

.navbar-toggle .bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
}
.navbar-toggle .bar + .bar {
	margin-top: 4px;
}

.navbar-toggle {
	padding: 2px 0;
	/*font-size: 1em;*/
}
.navbar-toggle .bar {
	float: left;
	clear: left;
	margin-right: 10px;
	background-color: #666;
}
.navbar-toggle>.bar:first-child {
	margin-top: 3px;
}
.navbar-toggle:hover {
	color: #000;
}
.navbar-toggle:hover .bar {
	background-color: #000;
}

@media (max-width: 760px) {
	th,
	.table th {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	table,
	tbody,
	tr,
	td,
	table.table,
	.table tbody,
	.table tr,
	.table td {
		width: auto;
		display: block;
		border-top: none;
	}
	tr,
	.table tr {
		margin: 0 0 1em 0;
		border: 1px solid #eee;
	}
	td,
	.table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 40%;
		white-space: normal;
		text-align: left;
		min-height: 2.5rem;
	}
	td:before,
	.table td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0;
		left: 0;
		width: 40%;
		padding: 0.75rem;
		white-space: nowrap;
		text-align: left;
		font-weight: bold;
		content: attr(data-th);
	}
}
@media (min-width: 760px) {
	body {
		padding-left: 270px;
	}
	.docs-sidebar-header {
		padding: 1.5rem;
	}
	.docs-sidebar-header h2 {
		font-size: 1.5em;
	}
	.docs-sidebar {
		border-bottom: none;
		border-right: 1px solid rgba(148,151,155,0.2);
		height: 100%;
		position: fixed;
		overflow-y: auto;
		max-width: 270px;
		min-width: 270px;
		overflow-x: hidden;
		top: 0;
		left: 0;
	}
	.docs-sidebar-tree {
		display: block;
	}
	.docs-sidebar-header .navbar-toggle {
		display: none;
	}
	.docs-content {
		padding: 0 3rem 3rem 3rem;
	}
	.panel-v > .docs-info,
	.panel-v > footer {
		padding: 1rem 3rem;
	}
	.swagger-ui .opblock .opblock-summary-path {
		min-width: 40%;
		max-width: calc(100% - 110px - 15rem)
	}
	.swagger-ui .opblock .opblock-summary-description {
		flex: 1 1 auto;
		background-color: transparent;
	}
}
