/**
 * Styles for the Anvil promotional pages
 */
#content>.container {
	width: auto;
	max-width: 100%;
}
#content>.container>.row {
	padding: 0;
	display: block;
}
.breadcrumb {
	display: none;
}
.hero {
	background: #666 url('../images/anvil/background.jpg') right center no-repeat;
	background-size: auto 100%;
	background-position: -710px 0;
	margin: 0 0 2em 0;
}
.hero .container {
	position: relative;
}
.hero .hero-text {
	margin: 250px 0 -100px 0;
	background: #333;
	color: #fff;
	padding: 2em 2em 0 2em;
	position: relative;
}
.hero .hero-text *:first-child {
	margin-top: 0;
	padding-top: 0;
}
.hero .hero-text *:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}
.hero .hero-text:after {
	content: '';
	height: 2em;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	background: #333;
}
.hero .hero-text h2 {
	color: #cfb991;
}
.hero .tagline {
	text-transform: uppercase;
	color: #fff;
	font-size: 3.5em;
	font-weight: bold;
	line-height: 1;
	position: absolute;
	bottom: -0.1em;
	right: 0;
	margin: 0;
	font-family: acumin-pro-condensed, "Franklin Gothic", sans-serif;
	display: none;
}
.contentPage {
	padding-top: 100px;
}

.contentPage section {
	margin: 0 0 4em 0;
}
.contentPage section>*:first-child {
	margin-top: 0;
	padding-top: 0;
}
.contentPage section>*:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}
.contentPage .side-nav {
	margin: 0;
	/*min-width: 16em;*/
	z-index: 1000;
}
.contentPage .side-nav li {
	list-style: none;
	margin: 0;
	border-top: solid 1px #ccc;
	background-color: #fff;
}
.side-nav a {
	color: #000;
	display: block;
	padding: .7rem 0;
	text-decoration: none;
	font-weight: bold;
	color: #555;
}
.side-nav .active a {
	color: #000;
	text-decoration: underline;
}

.sidenav-news {
	margin: 2em 0 2em 0;
}
.contentInner .sidenav-news ul li {
	list-style: none;
	margin: 0;
}
.sidenav-news .card-footer {
	padding: 1em;
	border-color: #fff;
	background-color: transparent;
}
.sidenav-news .card-footer p {
	margin: 0;
}
.sidenav-news .card-footer .btn {
	display: block;
}
.sidenav-news .card-title {
	margin: 0 0 1em 0;
	font-size: 1em;
}
.card,
a.card,
a.card:link {
	font-weight: normal;
	text-decoration: none;
	background-color: #f5f5f5;
	transition: all 0.3s ease;
	border: 2px solid transparent;
}
a.card:hover,
a.card:focus {
	-webkit-transform: translateY(-7px);
	transform: translateY(-7px);
	border-color: #cfb991;
}

.contentPage section .card {
	margin: 0 0 2em 0;
}
.contentPage section .card-header {
	background-color: transparent;
	border: none;
	padding: 2rem 1.25rem 0 1.25rem;
}
.contentPage section .card-body {
	padding: 1.25rem;
}
.contentPage section .card-header .fa {
	font-size: 2em;
	color: #8e6f3e;
}
.contentPage section .card-title {
	font-weight: bold;
	margin-bottom: 0.5em;
	font-size: 1em;
	color: #333;
}
.contentPage section .card-body *:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.contentPage section .card-pic {
	background-color: transparent;
	border: 2px solid #eee;
}
.contentPage section .card-pic:hover {
	border-color: rgba(204, 185, 150, 1);
}
.contentPage section .card-pic + .card-pic {
	margin-top: 4em;
}
.contentPage section .card-pic .card-pic-container {
	height: 250px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border: 6px solid #fff;
}
.contentPage section .card-pic .card-cpu {
	background-image: url('../images/anvil/kihara.png');
}
.contentPage section .card-pic .card-nodes {
	background-image: url('../images/anvil/zhang.png');
}
.contentPage section .card-pic .card-models {
	background-image: url('../images/anvil/vortex-simulation.jpg');
}
.contentPage section .card-pic .card-tools {
	background-image: url('../images/anvil/milisavljevic-supernovaLO.jpg');
}
.contentPage section .card-pic .card-apps {
	background-image: url('../images/anvil/zhou.jpg');
}
.contentPage section .card-pic .card-ondemand {
	background-image: url('../images/anvil/lindsay.jpg');
}

.editform fieldset.form-group {
	border: none;
	padding: 0;
	font-size: 1em;
}
.editform fieldset.form-group>legend {
	border: none;
	background: transparent;
	position: static;
	float: none;
	font-size: 1em;
	margin: 0 0 0.5em 0;
	padding: 0;
}
.coming-soon .card-header {
	text-align: center;
}
.input-required {
	color: #c00;
}
@media (min-width: 480px) {
	.hero {
		background-position: -550px 0;
	}
}
@media (min-width: 600px) {
	.hero {
		background-position: top right;
		background-size: 100% auto;
	}
	.hero {
		background-position: top right;
		background-size: 100% auto;
	}
	.hero .hero-text {
		margin: 5em 0 0 0;
	}
	.hero .tagline {
		display: block;
	}
	.sidenav-news {
		margin: 4em 0 2em 0;
	}
	.contentPage {
		padding-top: 40px;
	}
	.contentPage section .card-pic .card-pic-container {
		width: 250px;
		position: absolute;
		bottom: 30px;
		right: -30px;
		width: 160px;
		height: 160px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		border: 6px solid #fff;
	}
	.contentPage section .card-pic-r .card-body {
		margin-right: 134px;
	}
	.contentPage section .card-pic-l .card-body {
		margin-left: 134px;
	}
	.contentPage section .card-pic-l .card-pic-container {
		right: auto;
		left: -30px;
	}
	.coming-soon .card-header {
		text-align: right;
	}
}
