/**
 * Styles for the Anvil promotional pages
 */
#content>.container {
	width: auto;
	max-width: 100%;
}
#content>.container>.contentPage {
	padding: 0;
	margin: 0 -15px;
	display: block;
}
.breadcrumb {
	display: none;
}
.hero {
	background: #666 url('../images/IMG_3532d.jpg') right bottom no-repeat;
	background-size: 100% auto;
	margin: 0 0 2em 0;
}
.hero .container {
	position: relative;
}
.hero .hero-text {
	margin: 250px 0 -100px 0;
	background: #333;
	color: #fff;
	padding: 2em 2em 0 2em;
	position: relative;
}
.hero .hero-text *:first-child {
	margin-top: 0;
	padding-top: 0;
}
.hero .hero-text *:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}
.hero .hero-text:after {
	content: '';
	height: 2em;
	position: absolute;
	left: 0;
	right: 0;
	top: 100%;
	background: #333;
}
.hero .hero-text h2 {
	color: #cfb991;
}
.hero .tagline {
	text-transform: uppercase;
	color: #fff;
	font-size: 3.3em;
	font-weight: bold;
	line-height: 1;
	position: absolute;
	bottom: -0.1em;
	left: 457px;
	margin: 0;
	font-family: acumin-pro-condensed, "Franklin Gothic", sans-serif;
	display: none;
}
.contentPage {
	padding-top: 100px;
}

.contentPage section {
	margin: 0 0 4em 0;
}
.contentPage section>*:first-child {
	margin-top: 0;
	padding-top: 0;
}
.contentPage section>*:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}
a.btn-secondary:visited {
	color: #fff;
}
.contentPage h3 {
	position: relative;
}
.contentPage h3:after {
	content: '';
	position: absolute;
	left: 0;
	top: -1em;
	width: 3em;
	height: 3px;
	background-color: #8e6f3e;
}

.card,
a.card,
a.card:link {
	font-weight: normal;
	text-decoration: none;
	background-color: #f5f5f5;
	transition: all 0.3s ease;
	border: 2px solid transparent;
}
a.card:hover,
a.card:focus {
	-webkit-transform: translateY(-7px);
	transform: translateY(-7px);
	border-color: #cfb991;
}

.contentPage .card {
	margin: 0 0 2em 0;
	/*background-color: #fff;
	box-shadow: 0px .25rem 10px rgba(36,49,66,.2);*/
}
.contentPage .card h4 {
	text-transform: none;
	margin-top: 0;
}
.contentPage .card .badge {
	position: absolute;
	top: 1.5rem;
	right: -1rem;
	font-size: 0.8rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	border-radius: 0;
}

.careers-inclusion {
	background-color: rgba(85,89,96,1.0);
	color: #fff;
	padding: 2em;
}

.side-nav li {
	list-style: none;
	margin: 0;
	border-top: solid 1px #ccc;
	background-color: #fff;
}
.side-nav a {
	color: #000;
	display: block;
	padding: .7rem 0;
	text-decoration: none;
	font-weight: bold;
	color: #555;
}
.side-nav .active a {
	color: #000;
	text-decoration: underline;
}

@media (min-width: 400px) {
	.hero {
		background-position: right bottom;
		background-size: 100% auto;
	}
}

@media (min-width: 600px) {
	.hero {
		background-position: 0 -350px;
		background-size: 100% auto;
	}
	.hero .hero-text {
		margin: 5em 0 0 0;
	}
	.hero .tagline {
		display: block;
	}
	.sidenav-news {
		margin: 4em 0 2em 0;
	}
	.contentPage {
		padding-top: 40px;
	}
}
