.value {
	font-size: large;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.card-img-top {
	min-height: 100%;
}
.card-img-wrap {
	height: 200px;
	overflow: hidden;
}
.card .card-title {
	font-weight: bold;
}
.showcase .card-body {
	background-image: url('../../../files/envision/ShowcaseBanner.jpg');
}
.showcase .card-title {
	color:#8e6f3e;
	text-decoration:underline;
	font-style:italic;
}
#logo {
	width: 100%;
	height: 67px;
	margin-top: 5px;
	margin-left: 5px;
	object-fit: fill;
}
/*
.center {
	text-align:center;
}*/

.btn-envision {
	color: #FFF;
	background-color: #98700D;
}

a.btn-envision:visited {
	color: #FFF;
	text-decoration: none;
}

a.btn-envision:link {
	color: #FFF;
	text-decoration: none;
}
.tbl-contact th {
	width: 150px;
}
