.value {
	font-size: large;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.card-img-top {
	min-height: 100%;
}
.card-img-wrap {
	height: 200px;
	overflow: hidden;
}
.card .card-title {
	font-weight: bold;
}
/*.indent {
	text-indent: 2.5%;
}

li.resource_list a img {
	display: none;
}

.topic {
	font-size: large;
	font-weight: bold;
	text-align: center;
}

.projectTitle {
	font-weight: bold;
	text-align: center;
	font-size: medium;
	padding-top: 0;
}

.projectImg {
	margin-top: 15px;
	max-width: 180px;
	max-height: 120px;
}

.envision .topicImg {
	width: 40px;
	height: 40px;
}
*/
#logo {
	width: 100%;
	height: 67px;
	margin-top: 5px;
	margin-left: 5px;
	object-fit: fill;
}
/*
.center {
	text-align:center;
}*/

.btn-envision {
	color: #FFF;
	background-color: #98700D;
}

a.btn-envision:visited {
	color: #FFF;
	text-decoration: none;
}

a.btn-envision:link {
	color: #FFF;
	text-decoration: none;
}
.tbl-contact th {
	width: 150px;
}
