/**
 * Styles for the Home pages
 */
#content>.container {
	width: auto;
	max-width: 100%;
}
#content>.container>.contentPage {
	padding: 0;
	margin: 0 -15px;
	display: block;
}

/* Hide the breadcrumbs */
.breadcrumb {
	display: none;
}

/* Main banner */
.hero {
	background: #333;
}
.hero .container {
	position: relative;
}
.hero .hero-text {
	margin: 0;
	color: #fff;
	padding: 2em 0;
	position: relative;
}
.hero .hero-text *:first-child {
	margin-top: 0;
	padding-top: 0;
}
.hero .hero-text *:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}
.hero .hero-text h2 {
	color: #cfb991;
}
.hero .col-md-6 {
	position: relative;
}

/* Maintenance */
.tile {
	margin: 0 0 2em 0;
	padding: 2em;
	background-color: #000;
	color: #999;
}
.tile h2,
.tile h3,
.tile h4 {
	font-size: 1em;
	color: #ccc;
	text-transform: uppercase;
}
.tile a {
	color: #fff;
}
.tile>*:first-child {
	margin-top: 0;
}
.tile>*:last-child {
	margin-bottom: 0;
}

/* Main content */
.wrap {
	background-color: #f5f5f5;
}

.contentPage {
	padding-top: 0;
}
.contentPage section h2 {
	margin-bottom: 0.25em;
}
.contentPage section h2 + p {
	margin-bottom: 3em;
}

/* News */
.news-section .newslist {
	margin: 0;
}
.news-section .row .row {
	background-color: #fff;
}
.news-section .news {
	border-bottom: none;
	padding: 2em 1em;
}

.news-section h4 {
	font-size: 1em;
	margin-top: 0;
}
.news-section .date {
	margin-top: 0.5em;
}
.news-section .notice {
	padding: 2em;
}
.news-section .notice-info {
	background-color: #20809D;
	color: #fff;
}
.news-section .notice-info a {
	color: #fff;
}
.news-section .notice>*:first-child {
	margin-top: 0;
}
.news-section .notice>*:last-child {
	margin-bottom: 0;
}
.news-section .notice:before {
	display: none;
}

/* Feature */
.callout {
	padding: 5em 0 0 0;
	position: relative;
}
.callout h2 {
	margin-top: 0;
}
.callout .lead-in {
	font-weight: bold;
}
.callout-extra {
	margin: 0 0 5em 0;
}
.callout-extra img {
	display: none;
}
.callout-extra .btn-primary,
.callout-extra a.btn-primary {
	background-color: #cfb991;
	border-color: #cfb991;
	color: #000;
}
.callout-extra a.btn-primary:hover,
.callout-extra a.btn-primary:focus {
	background-color: #8e6f3e;
	border-color: #8e6f3e;
	color: #fff;
}
.callout-extra .text-muted {
	margin: 2em 0 1em 0;
}

/* Services */
.service .card-body {
	padding: 2.5em;
}
.service .card-body>*:first-child {
	margin-top: 0;
	padding-top: 0;
}
.service .card-body>*:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.card,
a.card {
	font-weight: normal;
	text-decoration: none;
	background-color: #f5f5f5;
	transition: all 0.3s ease;
	border: 2px solid transparent;
}
.col-sm-4 .card,
.col-sm-4 a.card,
.col-sm-4 a.card:link {
	background-color: transparent;
	border-color: #f1f1f1;
}
.col-sm-4 a.card:hover,
.col-sm-4 a.card:focus,
a.card:hover,
a.card:focus {
	-webkit-transform: translateY(-7px);
	transform: translateY(-7px);
	border-color: #cfb991;
	font-weight: inherit;
}
.card-header {
	font-size: 2em;
}

@media (min-width: 700px) {
	.hero {
		background-image: url("../images/cluster.svg"); /* Modified from original made by [Smashicons](https://smashicons.com/) */
		background-repeat: repeat-y;
		background-size: auto 50%;
		background-position: right top;
	}
	.news-section .row .row>div {
		border-left: 1px solid #e5e5e5;
		border-left: 1px solid #f1f1f1;
	}
	.news-section .row .row>div:first-child {
		border-left: none;
	}
}
@media (min-width: 900px) {
	.hero {
		background-size: auto 70%;
	}
	.hero .hero-text {
		padding: 5em 0 8em;
	}
	.tile {
		margin: 3em 0;
	}
	.news-section {
		margin-top: -3em;
	}
	.callout {
		padding: 5em 0;
	}
	.callout-extra img {
		display: inline;
		width: 95%;
		margin-top: -8em;
	}
	.contentPage section h2 + p {
		max-width: 70%;
		margin-left: auto;
		margin-right: auto;
	}
}
@media (min-width: 1200px) {
	.hero {
		background-size: auto 80%;
	}
}
