.contentInner ol>li {
	/*list-style: decimal;*/
	margin-left: 1em;
}
.contentInner ol.breadcrumb li {
	margin-left: 0.2em;
}

.highlight {
	background-color: #FFFF99;
}
.all-section {
	margin: 1em 0;
	padding: 1em 0;
	border-top: 1px solid #ccc;
}
.article-list {
	list-style: none;
}
.contentInner ul.article-list li,
.article-list li {
	list-style: none;
	margin: 0;
	padding: 1.5em 0;
}
.article-list li {
	border-top: 1px solid #eee;
}
.article-list li:first-child {
	border-top: none;
}
.article-list article>*:first-child {
	margin: 0 0 0.5em 0;
	padding: 0;
}
.article-list article>*:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}
.article-list article h3 {
	font-size: 1.2em;
}
.article-metadata {
	font-size: 85%;
	margin-bottom: 0;
}

.flat {
	border-top: 1px solid #ccc;
	margin-bottom: 1em;
}
.flat .breadcrumb {
	padding: 0;
	margin: 0 0 1em 0;
}
#wrapper-2col-w #col1 img {
	margin-bottom: 2px !important;
	margin-left: 3px !important;
}
#col1 h3 {
	margin-top: 0em !important;
	padding-top: 0em !important;
	border-top: 0px;
}
#col1 p {
	margin-bottom: 1em;
}
#col1 pre {
	margin-top: 0em;
	font-size: 1em;
}
#wrapper-2col-w #col2 .qlinks {
	margin-top: 0px;
	margin-bottom: 21px;
}
#col2 {
	padding-right: 12px;
}

.contentInner h3.kb1 {
	font-size: 1.7em;
}
.contentInner h3.kb2 {
	font-size: 1.3em;
}
.contentInner h3 {
	font-size: 1.2em;
	font-weight: 600;
}

.kbsearch label {
	border: 0;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.sidenav .tree {
	background: #f5f5f5;
	padding: 1em;
}
.sidenav .tree li {
	padding: 0 0 0.5em 0;
	position: relative;
	list-style: none;
	margin-left: 0;
}
.sidenav .tree li ul {
	margin: 0.5em 0 0 0.2em;
	padding: 0 0 0 0.8em;
	border-left: 1px solid #eee;
}
.sidenav .tree li>div {
	margin-left: 1em;
}
.sidenav .tree li.separator>div {
	margin-left: 0;
}
.sidenav .tree li a {
	font-weight: normal;
	text-decoration: none;
}
.sidenav .tree li a:hover {
	text-decoration: underline;
}
.sidenav .tree li:before {
	content: '\f054';
	font-family: 'FontAwesome';
	font-size: 60%;
	color: #aaa;
	width: 1em;
	margin-right: 0.5em;
	position: absolute;
	top: 0.5em;
	left: 0;
}
.sidenav .tree li.separator span {
	border-bottom: 1px solid #ddd;
	display: block;
	/*height: 0;
	overflow: hidden;*/
	margin: 1em 0;
	padding: 0.2em 0;
	font-weight: bold;
}
.sidenav .tree li.separator:before {
	content: '';
	display: none;
}
.sidenav .tree li.active>div>span {
	font-weight: bold;
}
.sidenav .tree li.active:before {
	color: #222;
}
.sidenav .tree li.active.parent:before {
	content: '\f078';
}

.ratings {
	margin: 4em 0 0 0;
}
.ratings fieldset {
	border: none;
	margin: 0;
	padding: 0;
}
.ratings fieldset legend {
	float: left;
	margin: 0 2em 0 0;
	padding: 0;
	line-height: 2;
}
.ratings .card-body>* {
	margin: 0;
}
.ratings .form-group {
	position: relative;
}
.ratings .form-textbox-counter {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 85%;
	text-align: right;
}

.edit-controls {
	position: absolute;
	right: 15px;
	background: #eee;
	border-radius: 0.25em;
}

h1 a.heading-anchor,
h2 a.heading-anchor,
h3 a.heading-anchor,
h4 a.heading-anchor,
h5 a.heading-anchor,
h6 a.heading-anchor {
	opacity: 0;
	position: absolute;
	left: -0.5em;
	line-height: 1.5rem;
	font-size: 1rem;
	color: #656565;
}
h2 a.heading-anchor {
	line-height: 1.75rem;
}

a.heading-anchor:hover {
	color: #000;
}

h1:hover a.heading-anchor,
h2:hover a.heading-anchor,
h3:hover a.heading-anchor,
h4:hover a.heading-anchor,
h5:hover a.heading-anchor,
h6:hover a.heading-anchor {
	opacity: 1
}

.toggle-tree:before {
	display: inline-block;
	margin: 0;
	padding: 0;
	line-height: 0;
	text-indent: 0;
	content: "";
	width: 0;
	height: 0;
	border: 5px solid transparent;
}
.toggle-tree:before {
	border-color: transparent transparent transparent #333;
}
.open .toggle-tree:before {
	border-color: #333 transparent transparent transparent;
}

/* Diffs */
.diff-versions {
	margin: 0;
}
.diff-versions dt {
	font-weight: bold;
	margin-top: 0.5em;
}
.diffs {
	margin: 1em 0;
	border: 1px solid #ccc;
}
.diffs td,
.diffs th {
	border: 1px solid #fff;
	margin: 0;
	padding: 0.2em 0.8em;
}
.diffs th {
	text-align: right;
	background-color: #efefef;
}
.diff-marker {
	width: 1em;
	text-align: center;
}
.diff-deletedline {
	border: 1px solid #EFCCC2;
	background: #FFF2EF;
	margin: 1em 0;
	padding: 1em;
	color: #CC0000;
}
.diff-addedline {
	border: 1px solid #DAE6DA;
	background: #F2FFF2;
	margin: 1em 0;
	padding: 1em;
	color: #360;
}
del.diffchange {
	color: #CC0000;
}
ins.diffchange {
	color: #360;
}
.ts-wrapper .option .indent {
	vertical-align: top;
	margin-right: 0.5em;
	opacity: 0.25;
}
