.highlight {
	background-color: #FFFF99;
}

.all-section {
	margin: 1em 0;
	padding: 1em 0;
	border-top: 1px solid #ccc;
}

.article-list {
	list-style: none;
}

.contentInner ul.article-list li,
.article-list li {
	list-style: none;
	margin: 0;
	padding: 1.5em 0;
}

.article-list li {
	border-top: 1px solid #eee;
}

.article-list li:first-child {
	border-top: none;
}

.article-list article>*:first-child {
	margin: 0 0 0.5em 0;
	padding: 0;
}

.article-list article>*:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.article-list article h3 {
	font-size: 1.2em;
}

.article-metadata {
	font-size: 85%;
	margin-bottom: 0;
}