<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields name="params">
		<fieldset name="basic">
			<field name="display_name" type="text" size="32" label="listener.auth.ldap::ldap.display name" description="listener.auth.ldap::ldap.display name desc" default="" />
		</fieldset>
	</fields>
</config>