
.wdg_whosonline .force-logout {
	color: #333;
	display: block;
	width: 1em;
	height: 1em;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1;
	font-size: 1.2em;
}
.wdg_whosonline .force-logout:before {
	content: "\f08b";
	font-family: "Fontcons";
	margin-right: 2em;
}
.wdg_whosonline .force-logout:hover {
	color: #f00;
	text-decoration: none;
}

.wdg_whosonline .client {
	display: inline-block;
	width: 1em;
	overflow: hidden;
	white-space: nowrap;
}
.wdg_whosonline .client:before {
	content: attr(data-client);
	margin-right: 2em;
	text-transform: uppercase;
}
@media (min-width: 30em) {
	.wdg_whosonline .client {
		overflow: auto;
		white-space: normal;
		width: auto;
	}
	.wdg_whosonline .client:before {
		content: "";
		display: none;
	}
}