.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 11.61803399em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#grid .grid {
  max-width: 100%;
  *zoom: 1;
}
#grid .grid:before,
#grid .grid:after {
  display: table;
  content: "";
  line-height: 0;
}
#grid .grid:after {
  clear: left;
}
#grid .col {
  float: left;
  margin-left: 3.22580645%;
  *margin-left: 3.17204301%;
}
.basicColumn {
  float: none !important;
  width: 100% !important;
  margin-right: 0;
  margin-bottom: 2em;
}
.basicColumn:nth-last-child(1) {
  margin-bottom: 0;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
menu,
time,
mark,
audio,
video {
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  margin: 0;
  padding: 0;
}
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1.61803399em 0;
  padding: 0;
}
input,
select {
  vertical-align: middle;
}
table {
  font-size: inherit;
  font: 100%;
}
input,
textarea,
button {
  font-size: 99%;
  font-family: "OpenSans", "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
pre,
code,
kbd,
samp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
body,
select,
input,
textarea {
  color: #7c7c7c;
}
b,
strong,
th {
  font-weight: 700;
}
i,
em {
  font-style: italic;
}
td,
td img {
  vertical-align: top;
}
sub {
  vertical-align: sub;
  font-size: smaller;
}
sup {
  vertical-align: super;
  font-size: smaller;
}
small,
.small {
  font-size: 0.8034441847541164em;
  line-height: 2;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}
p {
  -webkit-hyphens: auto;
  -webkit-hyphenate-character: "\2010";
  -webkit-hyphenate-limit-after: 1;
  -webkit-hyphenate-limit-before: 3;
  -moz-hyphens: auto;
  orphans: 3;
  widows: 3;
}
.ie7 img {
  -ms-interpolation-mode: bicubic;
}
img,
embed,
object,
video {
  max-width: 100% !important;
}
p,
ul,
ol,
dl,
blockquote,
hr,
pre,
table,
fieldset,
article,
article,
footer,
nav {
  margin: 0 0 1.61803399em 0;
  line-height: 1.61803399em;
}
article ul {
  margin: 0 0 1.61803399em 0;
  list-style: disc outside;
}
article ol {
  margin: 0 0 1.61803399em 0;
  list-style: decimal outside;
}
dd {
  margin: 0 0 0.61803399em 1.61803399em;
}
dt {
  font-weight: bold;
}
input[type="radio"] {
  vertical-align: text-bottom;
}
input[type="checkbox"] {
  vertical-align: middle;
  *vertical-align: baseline;
}
label,
input[type=button],
input[type=submit],
button {
  cursor: pointer;
  vertical-align: baseline;
}
::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none;
}
button {
  width: auto;
  overflow: visible;
}
html {
  font-size: 62.5%;
  font-family: "OpenSans", "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}
body {
  height: 100%;
  text-align: left;
  font-size: 1.3em;
  line-height: 1.61803399em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0;
  line-height: 1.7142em;
}
h1 {
  font-size: 2.618em;
  padding: 1.142em 0 0.437em;
}
h2 {
  font-size: 1.849em;
  padding: 1.142em 0 0.437em;
}
h3 {
  font-size: 1.618em;
  padding: 1.142em 0 0.4376em;
}
h4 {
  font-size: 1em;
  padding: 1.142em 0 0.706em;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Light-webfont.eot');
  src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Light-webfont.woff') format('woff'), url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-LightItalic-webfont.eot');
  src: url('../fonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-LightItalic-webfont.woff') format('woff'), url('../fonts/OpenSans-LightItalic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular-webfont.eot');
  src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Regular-webfont.woff') format('woff'), url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Italic-webfont.eot');
  src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Italic-webfont.woff') format('woff'), url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Semibold-webfont.eot');
  src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold') format('svg');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot');
  src: url('../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-SemiboldItalic-webfont.woff') format('woff'), url('../fonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic') format('svg');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Bold-webfont.eot');
  src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold-webfont.woff') format('woff'), url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'), url('../fonts/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-BoldItalic-webfont.eot');
  src: url('../fonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-BoldItalic-webfont.woff') format('woff'), url('../fonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'), url('../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
}
/*@font-face {
	font-family: 'Fontcons';
	src: url('../../../../@{pathSystemCss}/fonts/fontcons-webfont.eot');
	src: url('../../../../@{pathSystemCss}/fonts/fontcons-webfont.eot?#iefix') format('embedded-opentype'), 
		 url('../../../../@{pathSystemCss}/fonts/fontcons-webfont.woff') format('woff'), 
		 url('../../../../@{pathSystemCss}/fonts/fontcons-webfont.ttf') format('truetype'),
		 url('../../../../@{pathSystemCss}/fonts/fontcons-webfont.svg#FontconsRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}*/
@font-face {
  font-family: 'Feather';
  src: url('../fonts/feather.eot?t=1525787366991');
  src: url('../fonts/feather.eot?t=1525787366991#iefix') format('embedded-opentype'), url('../fonts/feather.woff?t=1525787366991') format('woff'), url('../fonts/feather.ttf?t=1525787366991') format('truetype'), url('../fonts/feather.svg?t=1525787366991#feather') format('svg');
  font-weight: normal;
  font-style: normal;
}
*[class^="icon-"]:before,
*[class*=" icon-"]:before {
  font-family: "Feather";
  margin-right: 0.2em;
  speak: none;
}
.icon-alert-octagon:before {
  content: "\e81b";
}
.icon-alert-circle:before {
  content: "\e81c";
}
.icon-activity:before {
  content: "\e81d";
}
.icon-alert-triangle:before {
  content: "\e81e";
}
.icon-align-center:before {
  content: "\e81f";
}
.icon-airplay:before {
  content: "\e820";
}
.icon-align-justify:before {
  content: "\e821";
}
.icon-align-left:before {
  content: "\e822";
}
.icon-align-right:before {
  content: "\e823";
}
.icon-arrow-down-left:before {
  content: "\e824";
}
.icon-arrow-down-right:before {
  content: "\e825";
}
.icon-anchor:before {
  content: "\e826";
}
.icon-aperture:before {
  content: "\e827";
}
.icon-arrow-left:before {
  content: "\e828";
}
.icon-arrow-right:before {
  content: "\e829";
}
.icon-arrow-down:before {
  content: "\e82a";
}
.icon-arrow-up-left:before {
  content: "\e82b";
}
.icon-arrow-up-right:before {
  content: "\e82c";
}
.icon-arrow-up:before {
  content: "\e82d";
}
.icon-award:before {
  content: "\e82e";
}
.icon-bar-chart:before {
  content: "\e82f";
}
.icon-at-sign:before {
  content: "\e830";
}
.icon-bar-chart-2:before {
  content: "\e831";
}
.icon-battery-charging:before {
  content: "\e832";
}
.icon-bell-off:before {
  content: "\e833";
}
.icon-battery:before {
  content: "\e834";
}
.icon-bluetooth:before {
  content: "\e835";
}
.icon-bell:before {
  content: "\e836";
}
.icon-book:before {
  content: "\e837";
}
.icon-briefcase:before {
  content: "\e838";
}
.icon-camera-off:before {
  content: "\e839";
}
.icon-calendar:before {
  content: "\e83a";
}
.icon-bookmark:before {
  content: "\e83b";
}
.icon-box:before {
  content: "\e83c";
}
.icon-camera:before {
  content: "\e83d";
}
.icon-check-circle:before {
  content: "\e83e";
}
.icon-true:before,
.icon-publish:before,
.icon-check:before {
  content: "\e83f";
}
.icon-checkin:before,
.icon-check-square:before {
  content: "\e840";
}
.icon-cast:before {
  content: "\e841";
}
.icon-chevron-down:before {
  content: "\e842";
}
.icon-chevron-left:before {
  content: "\e843";
}
.icon-chevron-right:before {
  content: "\e844";
}
.icon-chevron-up:before {
  content: "\e845";
}
.icon-chevrons-down:before {
  content: "\e846";
}
.icon-chevrons-right:before {
  content: "\e847";
}
.icon-chevrons-up:before {
  content: "\e848";
}
.icon-chevrons-left:before {
  content: "\e849";
}
.icon-circle:before {
  content: "\e84a";
}
.icon-clipboard:before {
  content: "\e84b";
}
.icon-chrome:before {
  content: "\e84c";
}
.icon-clock:before {
  content: "\e84d";
}
.icon-cloud-lightning:before {
  content: "\e84e";
}
.icon-cloud-drizzle:before {
  content: "\e84f";
}
.icon-cloud-rain:before {
  content: "\e850";
}
.icon-cloud-off:before {
  content: "\e851";
}
.icon-codepen:before {
  content: "\e852";
}
.icon-cloud-snow:before {
  content: "\e853";
}
.icon-compass:before {
  content: "\e854";
}
.icon-copy:before {
  content: "\e855";
}
.icon-corner-down-right:before {
  content: "\e856";
}
.icon-corner-down-left:before {
  content: "\e857";
}
.icon-corner-left-down:before {
  content: "\e858";
}
.icon-corner-left-up:before {
  content: "\e859";
}
.icon-corner-up-left:before {
  content: "\e85a";
}
.icon-corner-up-right:before {
  content: "\e85b";
}
.icon-corner-right-down:before {
  content: "\e85c";
}
.icon-corner-right-up:before {
  content: "\e85d";
}
.icon-cpu:before {
  content: "\e85e";
}
.icon-credit-card:before {
  content: "\e85f";
}
.icon-crosshair:before {
  content: "\e860";
}
.icon-disc:before {
  content: "\e861";
}
.icon-delete:before {
  content: "\e862";
}
.icon-download-cloud:before {
  content: "\e863";
}
.icon-download:before {
  content: "\e864";
}
.icon-droplet:before {
  content: "\e865";
}
.icon-edit-2:before {
  content: "\e866";
}
.icon-edit:before {
  content: "\e867";
}
.icon-edit-1:before {
  content: "\e868";
}
.icon-external-link:before {
  content: "\e869";
}
.icon-eye:before {
  content: "\e86a";
}
.icon-feather:before {
  content: "\e86b";
}
.icon-facebook:before {
  content: "\e86c";
}
.icon-file-minus:before {
  content: "\e86d";
}
.icon-eye-off:before {
  content: "\e86e";
}
.icon-fast-forward:before {
  content: "\e86f";
}
.icon-file-text:before {
  content: "\e870";
}
.icon-film:before {
  content: "\e871";
}
.icon-file:before {
  content: "\e872";
}
.icon-file-plus:before {
  content: "\e873";
}
.icon-folder:before {
  content: "\e874";
}
.icon-filter:before {
  content: "\e875";
}
.icon-flag:before {
  content: "\e876";
}
.icon-globe:before {
  content: "\e877";
}
.icon-dashboard:before,
.icon-grid:before {
  content: "\e878";
}
.icon-heart:before {
  content: "\e879";
}
.icon-home:before {
  content: "\e87a";
}
.icon-github:before {
  content: "\e87b";
}
.icon-image:before {
  content: "\e87c";
}
.icon-inbox:before {
  content: "\e87d";
}
.icon-layers:before {
  content: "\e87e";
}
.icon-info:before {
  content: "\e87f";
}
.icon-instagram:before {
  content: "\e880";
}
.icon-components:before,
.icon-layout:before {
  content: "\e881";
}
.icon-link-2:before {
  content: "\e882";
}
.icon-life-buoy:before {
  content: "\e883";
}
.icon-link:before {
  content: "\e884";
}
.icon-log-in:before {
  content: "\e885";
}
.icon-menus:before,
.icon-list:before {
  content: "\e886";
}
.icon-lock:before {
  content: "\e887";
}
.icon-log-out:before {
  content: "\e888";
}
.icon-loader:before {
  content: "\e889";
}
.icon-mail:before {
  content: "\e88a";
}
.icon-maximize-2:before {
  content: "\e88b";
}
.icon-map:before {
  content: "\e88c";
}
.icon-map-pin:before {
  content: "\e88e";
}
.icon-menu:before {
  content: "\e88f";
}
.icon-message-circle:before {
  content: "\e890";
}
.icon-message-square:before {
  content: "\e891";
}
.icon-minimize-2:before {
  content: "\e892";
}
.icon-mic-off:before {
  content: "\e893";
}
.icon-minus-circle:before {
  content: "\e894";
}
.icon-mic:before {
  content: "\e895";
}
.icon-minus-square:before {
  content: "\e896";
}
.icon-minus:before {
  content: "\e897";
}
.icon-moon:before {
  content: "\e898";
}
.icon-monitor:before {
  content: "\e899";
}
.icon-more-vertical:before {
  content: "\e89a";
}
.icon-more-horizontal:before {
  content: "\e89b";
}
.icon-move:before {
  content: "\e89c";
}
.icon-music:before {
  content: "\e89d";
}
.icon-navigation-2:before {
  content: "\e89e";
}
.icon-navigation:before {
  content: "\e89f";
}
.icon-octagon:before {
  content: "\e8a0";
}
.icon-extensions:before,
.icon-package:before {
  content: "\e8a1";
}
.icon-pause-circle:before {
  content: "\e8a2";
}
.icon-pause:before {
  content: "\e8a3";
}
.icon-percent:before {
  content: "\e8a4";
}
.icon-phone-call:before {
  content: "\e8a5";
}
.icon-phone-forwarded:before {
  content: "\e8a6";
}
.icon-phone-missed:before {
  content: "\e8a7";
}
.icon-phone-off:before {
  content: "\e8a8";
}
.icon-phone-incoming:before {
  content: "\e8a9";
}
.icon-phone:before {
  content: "\e8aa";
}
.icon-phone-outgoing:before {
  content: "\e8ab";
}
.icon-pie-chart:before {
  content: "\e8ac";
}
.icon-play-circle:before {
  content: "\e8ad";
}
.icon-play:before {
  content: "\e8ae";
}
.icon-plus-square:before {
  content: "\e8af";
}
.icon-plus-circle:before {
  content: "\e8b0";
}
.icon-plus:before {
  content: "\e8b1";
}
.icon-pocket:before {
  content: "\e8b2";
}
.icon-printer:before {
  content: "\e8b3";
}
.icon-power:before {
  content: "\e8b4";
}
.icon-radio:before {
  content: "\e8b5";
}
.icon-repeat:before {
  content: "\e8b6";
}
.icon-refresh-ccw:before {
  content: "\e8b7";
}
.icon-rewind:before {
  content: "\e8b8";
}
.icon-rotate-ccw:before {
  content: "\e8b9";
}
.icon-refresh:before,
.icon-refresh-cw:before {
  content: "\e8ba";
}
.icon-rotate-cw:before {
  content: "\e8bb";
}
.icon-save-close:before,
.icon-save:before {
  content: "\e8bc";
}
.icon-search:before {
  content: "\e8bd";
}
.icon-server:before {
  content: "\e8be";
}
.icon-scissors:before {
  content: "\e8bf";
}
.icon-share-2:before {
  content: "\e8c0";
}
.icon-share:before {
  content: "\e8c1";
}
.icon-shield:before {
  content: "\e8c2";
}
.icon-settings:before {
  content: "\e8c3";
}
.icon-skip-back:before {
  content: "\e8c4";
}
.icon-shuffle:before {
  content: "\e8c5";
}
.icon-sidebar:before {
  content: "\e8c6";
}
.icon-skip-forward:before {
  content: "\e8c7";
}
.icon-slack:before {
  content: "\e8c8";
}
.icon-false:before,
.icon-unpublish:before,
.icon-slash:before {
  content: "\e8c9";
}
.icon-smartphone:before {
  content: "\e8ca";
}
.icon-square:before {
  content: "\e8cb";
}
.icon-speaker:before {
  content: "\e8cc";
}
.icon-default:before,
.icon-star:before {
  content: "\e8cd";
}
.icon-stop-circle:before {
  content: "\e8ce";
}
.icon-sun:before {
  content: "\e8cf";
}
.icon-sunrise:before {
  content: "\e8d0";
}
.icon-tablet:before {
  content: "\e8d1";
}
.icon-tag:before {
  content: "\e8d2";
}
.icon-sunset:before {
  content: "\e8d3";
}
.icon-target:before {
  content: "\e8d4";
}
.icon-thermometer:before {
  content: "\e8d5";
}
.icon-thumbs-up:before {
  content: "\e8d6";
}
.icon-thumbs-down:before {
  content: "\e8d7";
}
.icon-toggle-left:before {
  content: "\e8d8";
}
.icon-toggle-right:before {
  content: "\e8d9";
}
.icon-trash-2:before {
  content: "\e8da";
}
.icon-trash:before {
  content: "\e8db";
}
.icon-trending-up:before {
  content: "\e8dc";
}
.icon-trending-down:before {
  content: "\e8dd";
}
.icon-triangle:before {
  content: "\e8de";
}
.icon-type:before {
  content: "\e8df";
}
.icon-twitter:before {
  content: "\e8e0";
}
.icon-upload:before {
  content: "\e8e1";
}
.icon-umbrella:before {
  content: "\e8e2";
}
.icon-upload-cloud:before {
  content: "\e8e3";
}
.icon-unlock:before {
  content: "\e8e4";
}
.icon-user-check:before {
  content: "\e8e5";
}
.icon-user-minus:before {
  content: "\e8e6";
}
.icon-user-plus:before {
  content: "\e8e7";
}
.icon-user-x:before {
  content: "\e8e8";
}
.icon-user:before {
  content: "\e8e9";
}
.icon-users:before {
  content: "\e8ea";
}
.icon-video-off:before {
  content: "\e8eb";
}
.icon-video:before {
  content: "\e8ec";
}
.icon-voicemail:before {
  content: "\e8ed";
}
.icon-volume-x:before {
  content: "\e8ee";
}
.icon-volume-2:before {
  content: "\e8ef";
}
.icon-volume-1:before {
  content: "\e8f0";
}
.icon-volume:before {
  content: "\e8f1";
}
.icon-watch:before {
  content: "\e8f2";
}
.icon-wifi:before {
  content: "\e8f3";
}
.icon-x-square:before {
  content: "\e8f4";
}
.icon-wind:before {
  content: "\e8f5";
}
.icon-cancel:before,
.icon-x:before {
  content: "\e8f6";
}
.icon-x-circle:before {
  content: "\e8f7";
}
.icon-zap:before {
  content: "\e8f8";
}
.icon-zoom-in:before {
  content: "\e8f9";
}
.icon-zoom-out:before {
  content: "\e8fa";
}
.icon-command:before {
  content: "\e8fb";
}
.icon-cloud:before {
  content: "\e8fc";
}
.icon-hash:before {
  content: "\e8fd";
}
.icon-headphones:before {
  content: "\e8fe";
}
.icon-underline:before {
  content: "\e8ff";
}
.icon-italic:before {
  content: "\e900";
}
.icon-bold:before {
  content: "\e901";
}
.icon-crop:before {
  content: "\e902";
}
.icon-help:before,
.icon-help-circle:before {
  content: "\e903";
}
.icon-paperclip:before {
  content: "\e904";
}
.icon-shopping-cart:before {
  content: "\e905";
}
.icon-tv:before {
  content: "\e906";
}
.icon-wifi-off:before {
  content: "\e907";
}
.icon-minimize:before {
  content: "\e88d";
}
.icon-maximize:before {
  content: "\e908";
}
.icon-gitlab:before {
  content: "\e909";
}
.icon-options:before,
.icon-sliders:before {
  content: "\e90a";
}
.icon-star-on:before {
  content: "\e90b";
}
.icon-heart-on:before {
  content: "\e90c";
}
.icon-archive:before {
  content: "\e90d";
}
.icon-arrow-down-circle:before {
  content: "\e90e";
}
.icon-arrow-up-circle:before {
  content: "\e90f";
}
.icon-arrow-left-circle:before {
  content: "\e910";
}
.icon-arrow-right-circle:before {
  content: "\e911";
}
.icon-bar-chart-line-:before {
  content: "\e912";
}
.icon-bar-chart-line:before {
  content: "\e913";
}
.icon-book-open:before {
  content: "\e914";
}
.icon-code:before {
  content: "\e915";
}
.icon-database:before {
  content: "\e916";
}
.icon-dollar-sign:before {
  content: "\e917";
}
.icon-folder-plus:before {
  content: "\e918";
}
.icon-gift:before {
  content: "\e919";
}
.icon-folder-minus:before {
  content: "\e91a";
}
.icon-git-commit:before {
  content: "\e91b";
}
.icon-git-branch:before {
  content: "\e91c";
}
.icon-git-pull-request:before {
  content: "\e91d";
}
.icon-git-merge:before {
  content: "\e91e";
}
.icon-linkedin:before {
  content: "\e91f";
}
.icon-hard-drive:before {
  content: "\e920";
}
.icon-more-vertical-:before {
  content: "\e921";
}
.icon-more-horizontal-:before {
  content: "\e922";
}
.icon-rss:before {
  content: "\e923";
}
.icon-send:before {
  content: "\e924";
}
.icon-shield-off:before {
  content: "\e925";
}
.icon-shopping-bag:before {
  content: "\e926";
}
.icon-terminal:before {
  content: "\e927";
}
.icon-truck:before {
  content: "\e928";
}
.icon-zap-off:before {
  content: "\e929";
}
.icon-youtube:before {
  content: "\e92a";
}
.toolbar-box .icon-save-close:after {
  font-family: "Feather";
  content: "\e8f4";
}
.toolbar-box .icon-save-new:after {
  content: "\271A";
}
/*.alert {
		margin: 0 0 1.61803399em 0;

		ul,
		li {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		dt {
			display: none;
		}
	}

	.info,
	.warning,
	.error,
	.message,
	#system-message dd {*/
.alert {
  margin: 0 0 1.61803399em 0;
  padding: 0.61803399em 0.61803399em 0.61803399em 2.31803399em;
  color: #fff;
  position: relative;
  overflow: hidden;
  zoom: 1;
  font-weight: 500;
  border: none;
  -webkit-border-radius: 0.27em;
  -moz-border-radius: 0.27em;
  border-radius: 0.27em;
  background-color: #222;
}
.alert-info,
.alert-warning,
.alert-error,
.alert-success {
  margin: 1em 0;
}
.alert-info h3,
.alert-warning h3,
.alert-error h3,
.alert-success h3,
.alert-info h4,
.alert-warning h4,
.alert-error h4,
.alert-success h4 {
  color: #fff !important;
}
.alert-info h3:first-child,
.alert-warning h3:first-child,
.alert-error h3:first-child,
.alert-success h3:first-child,
.alert-info h4:first-child,
.alert-warning h4:first-child,
.alert-error h4:first-child,
.alert-success h4:first-child {
  margin-top: 0;
}
.alert-info a,
.alert-warning a,
.alert-error a,
.alert-success a {
  color: #fff !important;
  border-bottom: 1px dotted #eee !important;
}
.alert-info a:hover,
.alert-warning a:hover,
.alert-error a:hover,
.alert-success a:hover {
  color: #fff !important;
  border-bottom: 1px solid #fff !important;
}
span.alert-info,
span.alert-warning,
span.alert-error,
span.alert-success {
  display: inline-block;
  *display: inline;
  margin: 0;
  padding: 0.41803399em 0.41803399em 0.41803399em 2.31803399em;
}
.alert-success {
  background-color: #a3ca60;
  color: #ffffff;
  border-color: #a3ca60;
}
.alert-info {
  background-color: #5cb4e4;
  color: #ffffff;
  border-color: #5cb4e4;
}
.alert-warning {
  background-color: #fbaf41;
  color: #ffffff;
  border-color: #fbaf41;
}
.alert-error {
  background-color: #dd5555;
  color: #ffffff;
  border-color: #dd5555;
}
/*.alert:before {
		position: absolute;
		top: 0.81803399em;
		width: 1em;
		height: 1em;
		font-size: 1.1em;
		font-weight: 400;
		line-height: 1;
		display: block;
		left: 0.81803399em;
		//.fontcons(@iconSuccess);
	}
	.alert-success:before {
		content: "\@{iconSuccess}";
		top: 0.71803399em;
	}
	.alert-error:before {
		content: "\@{iconError}";
	}
	.alert-warning:before  {
		content: "\@{iconWarning}";
	}
	.alert-info:before  {
		content: "\@{iconInfo}";
		left: 0.71803399em;
	}*/
#system-messages {
  display: none;
}
.growl {
  position: fixed;
  top: 30%;
  right: 50%;
  margin: 0 -15em 0 0;
  width: 30em;
  min-width: 20em;
  max-width: 40em;
  text-align: left;
}
.growl .alert {
  margin: 0;
  padding: 1.15em 2em 1.05em 5em;
  font-weight: 500;
  -webkit-box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1), 0 1px 4px rgba(0, 0, 0, 0.15);
  font-size: 1.1em;
  min-height: 1.6em;
  margin-bottom: 1em;
}
.growl .alert li {
  line-height: 1.3;
}
.growl .alert:before {
  font-size: 3em;
  line-height: 1;
  padding: 0.1em 0.2em;
  top: 0;
  left: 0;
  bottom: 0;
  height: auto;
  background: rgba(0, 0, 0, 0.1);
  text-align: center;
}
.growl .growl-close {
  display: block;
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  width: 1em;
  height: 1em;
  padding: 0.5em;
  line-height: 1;
  overflow: hidden;
  text-align: center;
  color: #333;
  color: rgba(0, 0, 0, 0.2);
}
.growl .growl-close:before {
  content: "\2716";
  display: block;
  margin: 0 0 1em 0;
}
.growl .growl-close:hover {
  color: #fff;
  text-decoration: none;
}
.state {
  text-decoration: none;
  border: none;
  white-space: nowrap;
  margin: 0;
  padding: 0.5em;
  display: inline-block;
  font-size: 0.85em;
  line-height: 1;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  color: #999;
  background-color: rgba(0, 0, 0, 0.1);
}
.state:hover {
  text-decoration: none;
}
/*.saveorder {
		&:before {
			content: "\f063";
		}
	}*/
.on,
.yes,
.true,
.publish,
.published {
  background-color: #a3ca60;
  background-color: #e2f3e6;
  color: #3db557;
}
.on:hover,
.yes:hover,
.true:hover,
.publish:hover,
.published:hover {
  color: #e2f3e6;
  background-color: #3db557;
}
.off,
.no,
.false,
.unpublish,
.unpublished {
  color: #999;
  background-color: rgba(0, 0, 0, 0.1);
}
.off:hover,
.no:hover,
.false:hover,
.unpublish:hover,
.unpublished:hover {
  color: rgba(0, 0, 0, 0.1);
  background-color: #999;
}
.pending {
  background-color: #ffdcc8;
  color: #f0765f;
}
.pending:hover {
  color: #ffdcc8;
  background-color: #f0765f;
}
.warn {
  background-color: #fbe3e3;
  color: #ed5c5c;
}
/* Checked out */
.checkedout:before {
  content: "\f023";
  color: #ff7800;
  font-size: 1.2em;
  line-height: 1;
  font-family: 'Fontcons';
}
.checkedout:hover:before {
  color: #333;
}
/* Default */
.default {
  color: #F8D201;
  background-color: #fff6eb;
  color: #c18564;
}
.notdefault {
  background-color: transparent;
  color: transparent;
}
a.menulist:hover:before {
  color: #000;
}
.uparrow:hover:before,
.downarrow:hover:before {
  color: #333;
}
.nopreview:before {
  color: #ccc;
}
.level,
.gi,
.gtr {
  margin-right: 0.2em;
  color: #ddd;
}
.level,
.gtr {
  visibility: hidden;
}
.smallsub {
  margin: 0;
  padding: 0;
  font-size: 0.85em;
  color: #999;
}
.smallsub a {
  color: #777;
  white-space: nowrap;
}
.grid-boolean,
.glyph {
  text-decoration: none;
  border: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  width: 1em;
  overflow: hidden;
  display: inline-block;
  line-height: 1;
  background-color: transparent;
}
.width-auto {
  width: auto;
}
.width-full {
  width: 100%;
}
.unknown,
.never {
  color: #ccc;
}
.block,
.show {
  display: block;
}
.none,
.hide {
  display: none;
}
.hidden {
  display: none;
  visibility: hidden;
}
.invisible {
  visibility: hidden;
}
.visible {
  overflow: visible !important;
}
.clear,
.clr {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.clearfix {
  display: block;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
* html .clearfix {
  height: 1%;
}
/*.fltrt {
		float: right;
	}
	.fltlft {
		float: left;
	}*/
.important {
  font-size: 1.30769em;
}
.ampersand {
  font-family: Baskerville, "Goudy Old Style", "Palatino", "Book Antiqua", serif;
  font-size: 110%;
  font-style: italic;
}
html {
  font-family: sans-serif;
}
body {
  font-family: "OpenSans", "Cabin", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.61803399em;
  color: #666;
  background: #f9f9f9;
  text-rendering: optimizeLegibility;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: #444;
  border: none;
}
a:hover {
  color: #222;
  border-bottom: 1px solid #999;
}
ul {
  list-style: disc;
  margin: 0 0 0 2em;
}
ul li {
  margin: 0.5em 0;
}
ol {
  list-style: decimal;
  margin: 0 0 0 2em;
}
ol li {
  margin: 0.5em 0;
}
p {
  margin: 1em 0;
}
hr {
  clear: both;
  height: 1px;
  background: #ddd;
  margin: 2em 0;
  border: none;
}
abbr {
  border-bottom: 1px dotted #333;
}
dfn {
  font-style: italic;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin-left: 2em;
}
img {
  border: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #484848;
  margin: 1em 0;
}
h2 {
  line-height: 1.3;
  font-size: 1.9em;
  font-weight: 300;
}
h3 {
  font-size: 1.4em;
}
h4,
h5,
h6 {
  font-size: 1.1em;
}
h1 {
  display: none;
}
a.btn {
  display: block;
  *zoom: 1;
  padding: 0.7em 0.91em 0.7em 0.91em;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 1;
  outline: 0;
  text-align: center;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
  color: #555;
  border: 1px solid #ccc;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
a.btn:hover {
  background-color: #222;
  border: 1px solid #222;
  color: #fff;
}
.main-navigation {
  padding: 1.61803399em 2.33606798em 1.61803399em 2.33606798em;
  margin: 0;
  color: #aaa;
  font-size: 0.95em;
  border-bottom: 1px solid #dadada;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: white;
}
.main-navigation .dashboard {
  float: left;
}
.main-navigation .help {
  float: right;
}
.main-navigation:before,
.main-navigation:after {
  content: "";
  display: table;
  line-height: 0;
  clear: both;
}
#wrap {
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}
#component-content {
  position: relative;
  *zoom: 1;
  display: block;
}
#component-content:before,
#component-content:after {
  display: table;
  content: "";
  line-height: 0;
}
#component-content:after {
  clear: both;
}
#footer {
  padding: 1.61803399em 2.33606798em 0.61803399em 2.33606798em;
  margin: 0;
  color: #aaa;
  font-size: 0.95em;
  border-top: 1px solid #dadada;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#footer a {
  color: #666;
  border: none;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}
#footer a:hover {
  color: #000;
  text-decoration: underline;
}
#footer .copyright {
  float: left;
  text-align: left;
  width: 45%;
}
#footer .promotion {
  float: right;
  text-align: right;
  width: 45%;
}
#footer .basement {
  overflow: hidden;
  zoom: 1;
  width: 100%;
}
#errorbox {
  padding: 1.61803399em 2.23606798em 1.61803399em 2.23606798em;
  margin: 2.23606798em auto 4.5em auto;
  position: relative;
  z-index: 1;
}
#errorbox .error-code {
  position: relative;
  font-size: 14em;
  text-align: center;
  color: #ddd;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
}
.backtrace-wrap {
  background-color: #333;
  padding: 1em 0;
}
.backtrace-wrap table {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  width: 100%;
  text-align: left;
  font-size: 0.85em;
  border: none;
  color: #e9e4e5;
}
.backtrace-wrap table th,
.backtrace-wrap table td {
  vertical-align: top;
  padding: 0.618em 1em;
  word-break: break-all;
}
.backtrace-wrap table tbody tr:nth-child(odd) {
  background-color: #3a3a3a;
}
.backtrace-wrap table td strong {
  font-weight: bold;
  color: #250b23;
}
.backtrace-wrap table thead th:first-child,
.backtrace-wrap table tbody th {
  text-align: right;
  white-space: nowrap;
}
.backtrace-wrap table caption,
.backtrace-wrap table thead th {
  font-weight: normal;
  letter-spacing: 0.15em;
  white-space: nowrap;
}
.backtrace-wrap table caption {
  text-align: left;
  padding: 0.618em 1em;
  display: none;
}
.backtrace-wrap .fnc {
  color: #4bb1b1;
}
.backtrace-wrap .cls {
  color: #ef7c61;
}
.backtrace-wrap .mtd {
  color: #fffefe;
}
.backtrace-wrap .opn {
  color: #aaa;
}
.backtrace-wrap .com,
.backtrace-wrap .fl {
  color: #888;
}
.backtrace-wrap .ln {
  color: #bcd42a;
}
html.rtl body,
html.rtl .error {
  text-align: right;
}
@media (min-width: 30em) {
  #errorbox {
    max-width: 33em;
  }
  #errorbox .error-code {
    font-size: 18em;
  }
}
