<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields name="params">
		<fieldset name="basic">
			<field name="remember_me_default" type="list" default="0" label="listener.auth.database::database.remember me" description="listener.auth.database::database.remember me desc">
				<option value="0">listener.auth.database::database.remember me unchecked</option>
				<option value="1">listener.auth.database::database.remember me checked</option>
			</field>
			<field name="display_name" type="text" size="32" label="listener.auth.database::database.display name" description="listener.auth.database::database.display name desc" default="" />
			<field name="site_login"  type="radio" label="listener.auth.database::database.site login" default="1" description="listener.auth.database::database.site login desc">
				<option value="0">global.no</option>
				<option value="1">global.yes</option>
			</field>
			<field name="admin_login"  type="radio" label="listener.auth.database::database.admin login" default="1" description="listener.auth.database::database.admin login desc">
				<option value="0">global.no</option>
				<option value="1">global.yes</option>
			</field>
		</fieldset>
	</fields>
</config>